<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>@Model.Topic.Attributes.Get("MetaTitle", Model.Topic.Title) - GoldSim</title>
    <meta name="keywords" content="@Model.Topic.Attributes.Get("MetaKeywords")" />
    <meta name="description" content="@Model.Topic.Attributes.Get("MetaDescription", Model.Topic.Attributes.Get("Subtitle", ""))" />
    <meta name="google-site-verification" content="EX0ea3_txOh2GJkZZs_sVxxpIg_Yk7RHYB_xOzCv4Qo" />
    <meta name="msvalidate.01" content="502A7C1A613414AC1FCABAA10A8B17AA" />
    <link rel="canonical" href="http://www.goldsim.com/@Request.Path.ToLower().TrimStart('/')" />
    <link rel="stylesheet" type="text/css" href="/Shared/Styles/Vendor/FontAwesome/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/Shared/Styles/Style.css" />
    <style>
    </style>
    @RenderSection("Head", false)
    <script>
      /**
       * Initialize Google Analytics
       */
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-2082450-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body vocab="http://schema.org/" typeof="WebPage">

    <!-- Site Header Area -->
	  @if (IsSectionDefined("HeaderSection")) {
      @RenderSection("HeaderSection")
    }
    else {
      <header id="SiteHeader" class="site header title-bar" role="banner" vocab="http://schema.org" typeof="WPHeader">
        @if (IsSectionDefined("PrimaryNavigationSection")) {
          @RenderSection("PrimaryNavigationSection")
        }
        else {
          <div class="title-bar-left menu">
            <!-- Primary Navigation -->
            <button class="menu-icon" type="button" data-open="PrimaryNavigation"></button>
            @Html.Action("Menu", "Layout")
            <!-- /Primary Navigation -->
          </div>
          <div class="title-bar-middle logo centered">
            <!-- Logo -->
            <a href="/"><img src="/Images/Logo.png" alt="GoldSim Technology Group" class="logo" /></a>
          </div>
          <div class="title-bar-right search">
            <!-- Site Search -->
            <div class="search form closed">
              <!-- Search Input -->
              <gcse:searchbox-only enableHistory="true" enableAutoComplete="true" resultsUrl="/Search/Default.aspx" queryParameterName="SearchText" placeholder="Search GoldSim.com"></gcse:searchbox-only>
              <!-- Search Open / Close Button -->
              <button type="button" class="icon"></button>
            </div>
            <!-- /Site Search -->
          </div>
        }
      </header>
    }
    <!-- /Site Header Area -->

    @if (IsSectionDefined("MainContentSection")) {
      @RenderSection("MainContentSection")
    }
    else {
      <!-- Main Site Content Area -->
      <main id="MainContentArea" class="page content" role="main">

        @if (IsSectionDefined("PageHeaderSection")) {
          @RenderSection("PageHeaderSection")
        }
        else {

          <!-- Page Header Area -->
          <section id="PageHeaderSection">

            @if (IsSectionDefined("ShortPageTitleSection")) {
              @RenderSection("ShortPageTitleSection")
            }
            else {
              <!-- Page Title Area -->
              <header class="header">
                <div class="grid-container">
                  <div class="grid-x">
                    <h1 class="title short cell">@Model.Topic.Title</h1>
                  </div>
                </div>
              </header>
              <!-- /Page Title Area -->
            }

            @if (IsSectionDefined("PageLevelNavigationSection")) {
              @RenderSection("PageLevelNavigationSection")
            }
            else {
              @Html.Action("PageLevelNavigation", "Layout")
            }

          </section>
          <!-- /Page Header Area -->

        }

        <article itemscope itemtype="http://schema.org/WebPageElement" itemprop="mainContentOfPage" class="grid-container">

          @if (!String.IsNullOrEmpty(@Model.Topic.Attributes.Get("Subtitle"))) {
            <!-- Long Title (Subtitle) -->
            <header class="grid-x">
              <h1 class="page title long cell">@Model.Topic.Attributes.Get("Subtitle")</h1>
            </header>
            <!-- /Long Title (Subtitle) -->
          }

          <!-- Main Page Content -->
          <div class="grid-container">
            <div class="grid-x">
              @RenderBody()
            </div>
          </div>
          <!-- /Main Page Content -->

        </article>
      </main>
      <!-- /Main Site Content Area -->
    }

    @if (IsSectionDefined("FooterSection")) {
      @RenderSection("FooterSection")
    } else {
      @Html.Action("Footer", "Layout")
    }

    <script src="/Shared/Scripts/Vendor/jQuery/jquery-3.0.0.min.js"></script>
    <script src="/Shared/Scripts/Vendor/ZURB/foundation.min.js"></script>
    <script>
      /**
       * Initialize Foundation
       */
      $(document).foundation();
    </script>
    <script src="/Shared/Scripts/Script.js"></script>
    @RenderSection("Scripts", false)
    <script>
      /**
       * Google Custom Search script bootstrapping
       */
      (function() {
        var
          cx            = '001116227355942586376:hfih0l8kboc',
          gcse          = document.createElement('script');
        gcse.type       = 'text/javascript';
        gcse.async      = true;
        gcse.src        = (document.location.protocol == 'https' ? 'https:' : 'http:') + '//www.google.com/cse/cse.js?cx=' + cx;
        var s           = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
      })();
    </script>
  </body>
</html>
