@model IEnumerable<TechnicalPaperTopicViewModel>

<!-- Related Technical Papers -->
<section class="panel accordion embedded">
  <ul class="accordion embedded" data-accordion data-allow-all-closed="true" data-deep-link="true">
    @foreach (var paper in Model) {
      <li class="accordion-item" data-accordion-item>
        <a class="accordion-title" href="#@paper.Key">@Html.Raw(paper.Title)</a>
        <div class="accordion-content" data-tab-content id="@paper.Key">
          <p>@Html.Raw(paper.Publication) &ndash; @paper.PublicationDate.ToString("MMMM yyyy")</p>
          <p class="author">@Html.Raw(paper.Authors)</p>
          @Html.Raw(paper.Description)
          <p><a href="@paper.LearnMoreUrl" target="_blank" onclick="trackEvent(this, 'Technical Paper', 'Download', '@paper.Key')">
            @(!String.IsNullOrEmpty(paper.DownloadLabel)? paper.DownloadLabel : "Download")
          </a></p>
        </div>
      </li>
    }
  </ul>
</section>
<!-- /Related Technical Papers -->

<!--
  Content Type: IEnumberable<TechnicalPaperTopicViewModel>
  View Location: ~/Views/Shared/_TechnicalPaperList.cshtml
-->