@model TopicViewModel

@{
  Layout = "~/Views/Layout/_Layout.cshtml";

  // Redirect to URL
  string redirectUrl = Model.Topic.Attributes.Get("URL");
  if (!String.IsNullOrEmpty(redirectUrl)) {
    Response.Redirect(redirectUrl);
  }

}

<h1>@Model.Topic.Title</h1>

<!--
<h2>@Model.Topic.Attributes.Get("Title")</h2>

<p>@Html.Raw(HttpUtility.HtmlDecode(@Model.Topic.Attributes.Get("Body")))</p>

<h2>Attributes (ApplicationPageBase)</h2>
<ul>
  <li><strong>Abstract:</strong> @Model.Topic.Attributes.Get("Abstract")</li>
  <li><strong>Thumbnail Image:</strong> @Model.Topic.Attributes.Get("ThumbnailImage")</li>
  <li><strong>Learn More (URL):</strong> @Model.Topic.Attributes.Get("LearnMoreUrl")</li>
</ul>

<h2>Attributes (DocumentPointer)</h2>
<ul>
  <li><strong>Document Type:</strong> @Model.Topic.Attributes.Get("DocumentType")</li>
</ul>

<h2>Applications (Relationship)</h2>
<ul>
  @foreach (Topic application in Model.Topic.Relationships["Applications"]) {
    <li>@application.Title</li>
  }
</ul>
-->

<!--
  Content Type: Document Pointer
  View Location: ~/Views/DocumentPointer/DocumentPointer.cshtml
-->