@model TopicViewModel

@{
  Layout = "~/Views/Layout/_Layout.cshtml";

  string contentType = Model.Topic.Attributes.GetValue("ContentType").ToLower();
  string viewType = contentType;

}

@section PostTitleSection {

  <!-- Body Content -->
  <section class="embedded pane body">
    @Html.Raw(@Model.Topic.Attributes.GetValue("Body"))
  </section>
  <!-- Body Content -->

}

@section PageBodySection {

  <section class="panel accordion@(viewType.Equals("faq") ? " faq " : "")">
    @if (Model.Topic.Attributes.Contains("Categories") && Model.Topic.Children["Categories"] != null && Model.Topic.Children["Categories"].Children.Count > 0) {
      foreach (Topic category in Model.Topic.Children["Categories"].Children.OrderBy(c => c)) {
        <section id="@category.Key">
          <h2>@category.Title</h2>
          <ul class="accordion" data-accordion data-allow-all-closed="true" data-deep-link="true">
            @foreach (Topic contentItem in Model.Topic.Children["ContentItems"].Children.Sorted.Where(t => t.Attributes.GetValue("Category", "").Equals(category))) {
              @WriteContentItem(contentItem, viewType)
            }
          </ul>
        </section>
      }
    }
    else {
      <ul class="accordion" data-accordion data-allow-all-closed="true" data-deep-link="true">
        @foreach (Topic contentItem in Model.Topic.Children["ContentItems"].Children.Sorted) {
          @WriteContentItem(contentItem, viewType)
        }
      </ul>
    }

  </section>

}

@section Scripts {
  <script src="~/Shared/Scripts/Accordion.ScrollFix.js"></script>
}

@helper WriteContentItem(Topic contentItem, string viewType) {
  <li class="accordion-item" data-accordion-item itemscope itemtype="http://schema.org/@(viewType.Equals("faq") ? "Question" : "ListItem")">
    <a class="accordion-title@(viewType.Equals("faq") ? " question" : "")" href="#@contentItem.Key">
      @if (viewType.Equals("faq")) {
        <span class="marker">Q:</span>
        <span itemprop="name">@contentItem.Title</span>
      }
      else {
        @contentItem.Title
      }
    </a>
    <div class="accordion-content@(viewType.Equals("faq") ? " answer" : "")" data-tab-content id="@contentItem.Key" @(viewType.Equals("faq") ? " itemprop=acceptedAnswer itemscope itemtype=http://schema.org/Answer" : "")>
      @if (viewType.Equals("faq")) {
        <span class="marker">A:</span>
      }
      @Html.Raw(@contentItem.Attributes.GetValue("Description"))
      @if (!String.IsNullOrEmpty(contentItem.Attributes.GetValue("LearnMoreURL"))) {
        <p><strong><a href="@contentItem.Attributes.GetValue("LearnMoreURL")">Learn more</a></strong></p>
      }
    </div>
  </li>
}

<!--
  Content Type: Content List
  View Type: Accordion
  View Location: ~/Views/ContentList/Accordion.cshtml
-->
