@model GoldSim.Web.Models.ViewModels.ContentListTopicViewModel

@{
  Layout = "~/Views/Layout/_Layout.cshtml";

  string contentType = Model.ContentType.ToLower();
  string viewType = contentType;

}

@section PostTitleSection {

  <!-- Body Content -->
  <section class="body">
    @Html.Raw(@Model.Body)
  </section>
  <!-- Body Content -->

}

@section PageBodySection {

  <section class="panel accordion@(viewType.Equals("faq") ? " faq " : "")">
    @if (Model.Categories != null && Model.Categories.Count > 0) {
      foreach (var category in Model.Categories.OrderBy(c => c)) {
        <section id="@category.Key">
          <h2>@category.Title</h2>
          <ul data-accordion data-allow-all-closed="true" data-deep-link="true">
            @foreach (var contentItem in Model.ContentItems.Where(t => t.Category.Equals(category))) {
              WriteContentItem(contentItem, viewType);
            }
          </ul>
        </section>
      }
    }
    else {
      <ul data-accordion data-allow-all-closed="true" data-deep-link="true">
        @foreach (var contentItem in Model.ContentItems) {
          WriteContentItem(contentItem, viewType);
        }
      </ul>
    }

  </section>

}

@section Scripts {
  <script src="~/Shared/Scripts/Views/Accordion.ScrollFix.js"></script>
}

@{

  void WriteContentItem(ContentItemTopicViewModel contentItem, string viewType) {
    <li class="accordion-item" data-accordion-item itemscope itemtype="http://schema.org/@(viewType.Equals("faq") ? "Question" : "ListItem")">
      <a class="accordion-title@(viewType.Equals("faq")? " question" : "")" href="#@contentItem.Key">
        @if (viewType.Equals("faq")) {
          <span class="marker">Q:</span>
          <span itemprop="name">@contentItem.Title</span>
        }
        else {
          @contentItem.Title
        }
      </a>
      <div class="accordion-content@(viewType.Equals("faq") ? " answer" : "")" data-tab-content id="@contentItem.Key" @(viewType.Equals("faq") ? " itemprop=acceptedAnswer itemscope itemtype=http://schema.org/Answer" : "")>
        @if (viewType.Equals("faq")) {
          <span class="marker">A:</span>
        }
        @Html.Raw(@contentItem.Description)
        @if (!String.IsNullOrEmpty(contentItem.LearnMoreUrl?.ToString())) {
          <p><strong><a href="@contentItem.LearnMoreUrl">Learn more</a></strong></p>
        }
      </div>
    </li>
  }

}

<!--
  Content Type: Content List
  View Type: Accordion
  View Location: ~/Views/ContentList/Accordion.cshtml
-->
