@model Ignia.Topics.Web.Mvc.TopicViewModel

@{
  Layout = "~/Views/Layout/_Layout.cshtml";

  string contentType = Model.Topic.Attributes.Get("ContentType").ToLower();
  string viewType = contentType;

}

@section LongTitleSection {

  <!-- Long Title (Subtitle) -->
  <header class="grid-x tucked">
    <h1 class="page title long cell">@Model.Topic.Attributes.Get("LongTitle", @Model.Topic.Title)</h1>
    @if (!String.IsNullOrWhiteSpace(Model.Topic.Attributes.Get("Subtitle"))) {
      <p class="subtitle">@Model.Topic.Attributes.Get("Subtitle")</p>
    }
  </header>
  <!-- /Long Title (Subtitle) -->

  <!-- Body Content -->
  <section class="embedded pane body">
    @Html.Raw(HttpUtility.HtmlDecode(@Model.Topic.Attributes.Get("Body")))
  </section>
  <!-- Body Content -->

}

@section PageBodySection {

  <section class="panel accordion@(viewType.Equals("faq") ? " faq " : "")">
    @if (Model.Topic.Attributes.Contains("Categories") && Model.Topic["Categories"] != null && Model.Topic["Categories"].Count > 0) {
      foreach (Ignia.Topics.Topic category in Model.Topic["Categories"]) {
        <h2>@category.Title</h2>
        <section id="Group-@category.Key">
          <ul class="accordion" data-accordion>
            @foreach (Ignia.Topics.Topic contentItem in Model.Topic["ContentItems"].Where(t => t.Attributes.Get("Category", "").Equals(category))) {
              @WriteContentItem(contentItem, viewType)
            }
          </ul>
        </section>
      }
    }
    else {
      <ul class="accordion" data-accordion>
        @foreach (Ignia.Topics.Topic contentItem in Model.Topic["ContentItems"]) {
          @WriteContentItem(contentItem, viewType)
        }
      </ul>
    }

  </section>

}

@helper WriteContentItem(Ignia.Topics.Topic contentItem, string viewType) {
  <li class="accordion-item" data-accordion-item>
    <a class="accordion-title@(viewType.Equals("faq") ? " question" : "")" href="#">
      @if (viewType.Equals("faq")) {
        <span class="marker">Q:</span>
      }
      @contentItem.Title
    </a>
    <div class="accordion-content@(viewType.Equals("faq") ? " answer" : "")" data-tab-content>
      @if (viewType.Equals("faq")) {
        <span class="marker">A:</span>
      }
      @Html.Raw(@contentItem.Attributes.Get("Description"))
      @if (!String.IsNullOrEmpty(contentItem.Attributes.Get("LearnMoreURL"))) {
        <p><strong><a href="@contentItem.Attributes.Get("LearnMoreURL")">Learn more</a></strong></p>
      }
    </div>
  </li>
}

<!--
  Content Type: Content List
  View Type: Accordion
  View Location: ~/Views/ContentList/Accordion.cshtml
-->
