@model Ignia.Topics.Web.Mvc.TopicViewModel

@{
  Layout = "~/Views/Layout/_Layout.cshtml";
}

@section PageBodySection {

  <section class="panel">

    @Html.Raw(HttpUtility.HtmlDecode(@Model.Topic.Attributes.Get("Body")))

    @if (Model.Topic.Attributes.Contains("Categories") && Model.Topic["Categories"] != null && Model.Topic["Categories"].Count > 0) {
      foreach (Ignia.Topics.Topic category in Model.Topic["Categories"]) {
        <h2>@category.Title</h2>
        <section id="Group-@category.Key">
          @foreach (Ignia.Topics.Topic contentItem in Model.Topic["ContentItems"].Where(t => t.Attributes.Get("Category", "").Equals(category))) {
            @WriteContentItem(contentItem)
          }
        </section>
      }
    }
    else {
      <section>
        @foreach (Ignia.Topics.Topic contentItem in Model.Topic["ContentItems"]) {
          @WriteContentItem(contentItem)
        }
      </section>
    }

  </section>

}

@helper WriteContentItem(Ignia.Topics.Topic contentItem) {
  <article>
    <a href="@contentItem.Attributes.Get("LearnMoreUrl")" target="_blank"><img alt="@contentItem.Title" src="@contentItem.Attributes.Get("ThumbnailImage")" /></a>
    <a href="@contentItem.Attributes.Get("LearnMoreUrl")">
      <h1>@contentItem.Title</h1>
    </a>
    <div>
      @Html.Raw(HttpUtility.HtmlDecode(@contentItem.Attributes.Get("Description")))
    </div>
  </article>
}

<!--
  Content Type: Content List
  View Type: Content List
  View Location: ~/Views/ContentList/ContentList.cshtml
-->
