@model ContentListTopicViewModel

@{
  Layout = "~/Views/Layout/_Layout.cshtml";
}

@section PageBodySection {

<section class="panel body">

  @if (!String.IsNullOrEmpty(Model.Body)) {
    <!-- Body Content -->
    <article class="page body">
      @Html.Raw(Model.Body)
    </article>
    <!-- /Body Content -->
  }

  <partial name="_TableOfContents" />

  @if (Model.Categories.Count > 0) {
    foreach (var category in Model.Categories.OrderBy(c => c)) {
      <section id="@category.Key" class="content list">
        <h1>@category.Title</h1>
        @foreach (var contentItem in Model.ContentItems.Where(t => t.Category.Equals(category))) {
          WriteContentItem(contentItem, "h2");
        }
      </section>
    }
  }
  else {
    <section class="content list">
      @foreach (var contentItem in Model.ContentItems) {
        WriteContentItem(contentItem);
      }
    </section>
  }

</section>

}

@{

  void WriteContentItem(ContentItemTopicViewModel contentItem, string element = "h1") {
    <article id="@contentItem.Key">
      <@element>@contentItem.Title<@("/" + element)>
      @if (!String.IsNullOrWhiteSpace(contentItem.ThumbnailImage)) {
        <!-- Thumbnail Image -->
        <picture class="callout picture thumbnail small">
          <source srcset="@contentItem.ThumbnailImage" />
          <img src="@contentItem.ThumbnailImage" alt="@contentItem.Title">
        </picture>
        <!-- /Thumbnail Image -->
      }
      <div>
        @Html.Raw(HttpUtility.HtmlDecode(contentItem.Description))
        @if (!String.IsNullOrWhiteSpace(contentItem.LearnMoreUrl)) {
          <p><a href="@contentItem.LearnMoreUrl" target="_blank">Learn More</a></p>
        }
      </div>
    </article>
  }
}

<!--
  Content Type: Content List
  View Type: Content List
  View Location: ~/Views/ContentList/ContentList.cshtml
-->
