@model Ignia.Topics.Models.ContentListTopicViewModel

@{
  Layout = "~/Views/Layout/_Layout.cshtml";
}

@section PageBodySection {

  <section class="panel body">

    @if (!String.IsNullOrEmpty(Model.Topic.Attributes.GetValue("Body"))) {
      <!-- Body Content -->
      <article class="page body">
        @Html.Raw(@Model.Topic.Attributes.GetValue("Body"))
      </article>
      <!-- /Body Content -->
    }

    @Html.Partial("_TableOfContents")

    @if (Model.Topic.Attributes.Contains("Categories") && Model.Topic.Children["Categories"] != null && Model.Topic.Children["Categories"].Children.Count > 0) {
      foreach (Topic category in Model.Topic.Children["Categories"].Children.OrderBy(c => c)) {
        <section id="@category.Key" class="content list">
          <h1>@category.Title</h1>
          @foreach (Topic contentItem in Model.Topic.Children["ContentItems"].Children.Sorted.Where(t => t.Attributes.GetValue("Category", "").Equals(category))) {
            @WriteContentItem(contentItem, "h2")
          }
        </section>
      }
    }
    else {
      <section class="content list">
        @foreach (Topic contentItem in Model.Topic.Children["ContentItems"].Children.Sorted) {
          @WriteContentItem(contentItem)
        }
      </section>
    }

  </section>

}

@helper WriteContentItem(Topic contentItem, string element = "h1") {
  <article id="@contentItem.Key">
    <@element>@contentItem.Title<@("/" + element)>
    @if (!String.IsNullOrWhiteSpace(contentItem.Attributes.GetValue("ThumbnailImage"))) {
      <!-- Thumbnail Image -->
      <picture class="callout picture thumbnail small">
        <source srcset="@contentItem.Attributes.GetValue("ThumbnailImage")" />
        <img src="@contentItem.Attributes.GetValue("ThumbnailImage")" alt="@contentItem.Title">
      </picture>
      <!-- /Thumbnail Image -->
    }
    <div>
      @Html.Raw(HttpUtility.HtmlDecode(@contentItem.Attributes.GetValue("Description")))
      @if (!String.IsNullOrWhiteSpace(contentItem.Attributes.GetValue("LearnMoreUrl"))) {
        <p><a href="@contentItem.Attributes.GetValue("LearnMoreUrl")" target="_blank">Learn More</a></p>
      }
    </div>
</article>
}

<!--
  Content Type: Content List
  View Type: Content List
  View Location: ~/Views/ContentList/ContentList.cshtml
-->
