@model TopicViewModel

@{
  Layout = "~/Views/Layout/_Layout.cshtml";
}

@section PageBodySection {

  <section class="panel body">

    @if (!String.IsNullOrEmpty(Model.Topic.Attributes.Get("Body"))) {
      <!-- Body Content -->
      <article class="page body">
        @Html.Raw(@Model.Topic.Attributes.Get("Body"))
      </article>
      <!-- /Body Content -->
    }

    @Html.Partial("_TableOfContents")

    @if (Model.Topic.Attributes.Contains("Categories") && Model.Topic["Categories"] != null && Model.Topic["Categories"].Count > 0) {
      foreach (Topic category in Model.Topic["Categories"].OrderBy(c => c)) {
        <section id="@category.Key" class="content list">
          <h1>@category.Title</h1>
          @foreach (Topic contentItem in Model.Topic["ContentItems"].SortedChildren.Where(t => t.Attributes.Get("Category", "").Equals(category))) {
            @WriteContentItem(contentItem, "h2")
          }
        </section>
      }
    }
    else {
      <section class="content list">
        @foreach (Topic contentItem in Model.Topic["ContentItems"].SortedChildren) {
          @WriteContentItem(contentItem)
        }
      </section>
    }

  </section>

}

@helper WriteContentItem(Topic contentItem, string element = "h1") {
  <article id="@contentItem.Key">
    <@element>@contentItem.Title<@("/" + element)>
    @if (!String.IsNullOrWhiteSpace(contentItem.Attributes.Get("ThumbnailImage"))) {
      <!-- Thumbnail Image -->
      <picture class="callout picture thumbnail small">
        <source srcset="@contentItem.Attributes.Get("ThumbnailImage")" />
        <img src="@contentItem.Attributes.Get("ThumbnailImage")" alt="@contentItem.Title">
      </picture>
      <!-- /Thumbnail Image -->
    }
    <div>
      @Html.Raw(HttpUtility.HtmlDecode(@contentItem.Attributes.Get("Description")))
      @if (!String.IsNullOrWhiteSpace(contentItem.Attributes.Get("LearnMoreUrl"))) {
        <p><a href="@contentItem.Attributes.Get("LearnMoreUrl")" target="_blank">Learn More</a></p>
      }
    </div>
</article>
}

<!--
  Content Type: Content List
  View Type: Content List
  View Location: ~/Views/ContentList/ContentList.cshtml
-->
