@using GoldSim.Web.Models.Invoices
@model EditInvoicePageTopicViewModel

@{
  Layout = "/Views/Layout/_Layout.cshtml";
}

<section class="panel body">

  @Html.Raw(Model.Body)

  <form asp-action="Edit" method="post">

    <div asp-validation-summary="All" class="text-danger validation-instructions"></div>

    <fieldset>
      <div class="grid-x grid-margin-x">
        <div class="medium-6 cell form-field">
          <label asp-for="@Model.Invoice.InvoiceNumber" class="required"></label>
          <input asp-for="@Model.Invoice.InvoiceNumber" type="number" class="field" />
        </div>
        <div class="medium-6 cell form-field">
          <label asp-for="@Model.Invoice.InvoiceAmount" class="required"></label>
          <span class="input-group">
            <span class="input-group-label">$</span>
            <input asp-for="@Model.Invoice.InvoiceAmount" type="number" placeholder="1000" class="field input-group-field" />
          </span>
        </div>
      </div>
    </fieldset>

    <div class="grid-x grid-margin-x" style="margin-top: 1rem;">
      <div class="medium-6 cell text-left">
        <input type="submit" value="Submit" class="submit button large primary" />
      </div>
    </div>

  </form>
</section>


@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@section CallsToActionSection {}