@model TopicViewModel

@{
  ViewBag.Title = Model.Topic.Title;
  Layout = "~/Views/Layout/_Layout.cshtml";
}

@section Head {
  <link rel="stylesheet" type="text/css" href="/Shared/Styles/Vendor/OwlCarousel/owl.carousel.min.css" />
  <link rel="stylesheet" type="text/css" href="/Shared/Styles/Vendor/OwlCarousel/owl.theme.default.min.css">
}

@section PostTitleSection {
  <!-- Controls -->
  <!-- @Model.Topic.Attributes.Get("TransitionEffect") -->
}

@section PageBodySection {
  <section class="panel body content list owl-carousel">
    <div>@Html.Raw(@Model.Topic.Attributes.Get("Body"))</div>
    @if (Model.Topic["ContentItems"] != null && Model.Topic["ContentItems"].Count > 0) {
      foreach (Topic contentItem in Model.Topic["ContentItems"].SortedChildren) {
        <div>@WriteContentItem(contentItem)</div>
      }
    }
  </section>
}

@section Scripts {
  <script src="~/Shared/Scripts/Vendor/OwlCarousel/owl.carousel.js"></script>
  <script>
    $(function () {

      $(".owl-carousel").owlCarousel({
        items: 1,
        autoHeight: false,
        nav: true,
        navText: [
          "&laquo;",
          "&raquo;"
        ],
      });

    });
  </script>
}

@helper WriteContentItem(Topic contentItem, string element = "h1") {
  <article id="@contentItem.Key">
    @if (!String.IsNullOrWhiteSpace(contentItem.Attributes.Get("ThumbnailImage"))) {
      <!-- Thumbnail Image -->
      <picture class="callout picture thumbnail small">
        <source srcset="@contentItem.Attributes.Get("ThumbnailImage")" />
        <img src="@contentItem.Attributes.Get("ThumbnailImage")" alt="@contentItem.Title">
      </picture>
      <!-- /Thumbnail Image -->
    }
    <div>
      @Html.Raw(HttpUtility.HtmlDecode(@contentItem.Attributes.Get("Description")))
      @if (!String.IsNullOrWhiteSpace(contentItem.Attributes.Get("LearnMoreUrl"))) {
        <p><a href="@contentItem.Attributes.Get("LearnMoreUrl")" target="_blank">Learn More</a></p>
      }
    </div>
  </article>
}
<!--
  Content Type: Slideshow
  View Location: ~/Views/Slideshow/Slideshow.cshtml
-->
