@model Ignia.Topics.Web.Mvc.TopicViewModel

@{
  ViewBag.Title = Model.Topic.Title;
  Layout = "~/Views/Layout/_Layout.cshtml";
}

<h2>Slide Show Content Type</h2>

<h1>@Model.Topic.Title</h1>
<h2>@Model.Topic.Attributes.Get("Title")</h2>

<h2>Attributes</h2>
<ul>
  <li><strong>Transition Effect:</strong> @Model.Topic.Attributes.Get("TransitionEffect")</li>
</ul>

<h2>Slides (Nested Topics)</h2>
<ul>
  @foreach (Ignia.Topics.Topic slide in Model.Topic["ContentItems"]) {
    <li><strong>@slide.Title</strong>: @slide.Attributes.Get("Description")</li>
  }
</ul>

<br>(~/Views/Slideshow/Slideshow.cshtml)
