@model ApplicationPageTopicViewModel

@{
  Layout = "~/Views/Layout/_Layout.cshtml";
  ViewBag.Context = Model.GetCategoryTitle(Model.Category) + " Applications";
}

@section Head {
  <script type="application/ld+json">
    {
      "@@context": "http://schema.org",
      "@@type": "Article",
      "mainEntityOfPage": {
        "@@type": "WebPage",
        "@@id": "https://google.com/article"
      },
      "headline": "@Model.Title",
      "image": [
        "https://www.GoldSim.com@(Model.ThumbnailImage)"
      ],
      @*
      "datePublished": "@Model.VersionHistory.First().ToString("s")",
      *@
      "dateModified": "@Model.LastModified.ToString("s")",
      "author": {
        "@@type": "Person",
        "name": "Rick Kossik"
      },
      "publisher": {
        "@@type": "Organization",
        "name": "GoldSim",
        "logo": {
          "@@type": "ImageObject",
          "url": "https://www.goldsim.com/Images/Logo.png"
        }
      },
      "description": "@(Model.MetaDescription?? Model.Abstract)"
    }
  </script>
}

@section PageBodySection {

  <section class="panel">

    @if (!String.IsNullOrEmpty(Model.ThumbnailImage)) {
      <!-- Thumbnail Image -->
      <picture class="callout picture thumbnail">
        <source srcset="@Model.ThumbnailImage" />
        <img src="@Model.ThumbnailImage" alt="@Model.Title">
      </picture>
      <!-- /Thumbnail Image -->
    }

    @if (!String.IsNullOrEmpty(Model.Abstract)) {
      <!-- Abstract -->
      <!-- <h1>Abstract</h1> -->
      <!-- Abstract Text -->
      <p>@Html.Raw(Model.Abstract)</p>
      <!-- /Abstract -->
    }

    <!-- Body Content -->
    @Html.Raw(Model.Body)
    <!-- /Body Content -->

    @if (!String.IsNullOrEmpty(Model.ModelImage)) {
      <!-- Model Image -->
      <figure class="illustration full" id="Screenshot">
        <img src="@Model.ModelImage" alt="model" />
      </figure>
      <!-- /Model Image -->
    }

    @if (Model.ExampleApplications.Count > 0) {
      <!-- Related Case Studies -->
      <h1 id="Examples">Examples</h1>
      <partial name="_CardList" model="@(new CardListViewModel(Model.ExampleApplications.OrderByDescending(m => m.LastModified), "case-study"))" />
      <!-- /Related Case Studies -->
    }

    @if (Model.Modules.Count > 0) {
      <!-- Related Modules -->
      <h1 id="Modules">Modules</h1>
      <partial name="_CardList" model="@(new CardListViewModel(Model.Modules, "modules"))" />
      <!-- /Related Modules -->
    }

    @if (Model.WhitePapers.Count > 0) {
      <!-- Related White Papers -->
      <h1 id="WhitePapers">White Papers</h1>
      <ul>
        @foreach (var paper in Model.WhitePapers) {
          <li><a href="@paper.Url" onclick="trackEvent(this, 'White Paper', 'Download', '@paper.Key'); return false;" target="_blank">@paper.Title</a></li>
        }
      </ul>
      <!-- /Related White Papers -->
    }

    @if (Model.TechnicalPapers.Count > 0) {
      <h1 id="TechnicalPapers">Technical Papers</h1>
      <partial name="_TechnicalPaperList" model="@Model.TechnicalPapers.OrderByDescending(m => m.PublicationDate)" />
    }

    @if (!String.IsNullOrEmpty(Model.CompareTo) || !String.IsNullOrEmpty(Model.LearnMoreUrl)) {

      <!-- Learn More -->
      <h1 id="LearnMore">Learn More</h1>
      <ul>
        @if (Model.CompareTo.EndsWith("Approaches")) {
          <li><a href="/Topic/615">Compare GoldSim</a> to other simulation approaches</li>
        }
        else if (Model.CompareTo.EndsWith("Excel")) {
          <li><a href="/Topic/614">Compare GoldSim</a> to spreadsheet modeling approaches</li>
        }
        @if (!String.IsNullOrEmpty(Model.LearnMoreUrl)) {
          <li><a href="@Model.LearnMoreUrl">@Model.LearnMoreLabel</a></li>
        }
      </ul>
      <!-- Learn More -->

    }

  </section>

}

@section Scripts {
  <script src="~/Shared/Scripts/Views/Accordion.ScrollFix.js"></script>
}

<!--
  Content Type: Application Page
  View Location: ~/Views/Application/ApplicationPage.cshtml
-->
