@model ExampleApplicationTopicViewModel

@{
  Layout = "~/Views/Layout/_Layout.cshtml";
}

@section Head {
  <script type="application/ld+json">
    {
      "@@context": "http://schema.org",
      "@@type": "Article",
      "mainEntityOfPage": {
        "@@type": "WebPage",
        "@@id": "https://google.com/article"
      },
      "headline": "@Model.Title",
      "image": [
        "https://www.GoldSim.com@(Model.ThumbnailImage)"
      ],
      @*
      "datePublished": "@Model.Topic.VersionHistory.First().ToString("s")",
      "dateModified": "@Model.Topic.VersionHistory.Last().ToString("s")",
      *@
      "author": {
        "@@type": "Person",
        "name": "Rick Kossik"
      },
      "publisher": {
        "@@type": "Organization",
        "name": "GoldSim",
        "logo": {
          "@@type": "ImageObject",
          "url": "https://www.goldsim.com/Images/Logo.png"
        }
      },
      "description": "@(Model.MetaDescription?? Model.Abstract)"
    }
  </script>
}

@section PostTitleSection {

  <!-- Post Title -->
  <div class="medium-@(!String.IsNullOrEmpty(@Model.DownloadUrl)? "8" : "12") cell align-middle metadata">
    @if (!String.IsNullOrEmpty(@Model.Customer)) {
      <strong>Client:</strong>
      @Html.Raw(getCustomerLink(Model.Customer, Model.CustomerUrl))
      <br/>
    }
    @if(applications.Count > 0) {
      <strong>@((Model.Applications.Count == 1)? "Application" : "Applications"):</strong>
      foreach (var application in Model.Applications) {
        <a href="@application.WebPath" class="comma delimited">@application.Title</a>
      }
    }
  </div>
  @if (!String.IsNullOrEmpty(Model.DownloadUrl)) {
    <div class="medium-4 cell align-middle text-right metadata">
      @Html.Raw(downloadButton(Model.DownloadUrl))
    </div>
  }
  <!-- /Post Title -->

}

@section PageBodySection {

  <section class="panel body">

    @if (!String.IsNullOrEmpty(@Model.ThumbnailImage)) {
      <!-- Thumbnail Image -->
      <picture class="callout picture">
        <source srcset="@Model.ThumbnailImage" />
        <img src="@Model.ThumbnailImage" alt="@Model.Title">
      </picture>
      <!-- /Thumbnail Image -->
    }

    @if (!String.IsNullOrEmpty(Model.Abstract)) {
      <!-- Abstract -->
      <!-- <h1>Abstract</h1> -->
      <!-- Abstract Text -->
      <p>@Html.Raw(Model.Abstract)</p>
      <!-- /Abstract -->
    }

    @Html.Raw(Model.Body)

    @if (!String.IsNullOrEmpty(Model.LearnMoreUrl)) {
      <h1>Learn More</h1>
      <ul>
        <li><a href="@Model.LearnMoreUrl">@Model.LearnMoreLabel</a></li>
      </ul>
    }

  </section>

}

@section Scripts {
  <script>
    $(function () {
      /**
       * Add comma after metadata links
       */
      $('.metadata a.comma.delimited:not(:last-of-type)').after(', ');
    });
  </script>
}

@helper getCustomerLink(string customerName, string customerUrl) {
  if (!String.IsNullOrEmpty(customerUrl)) {
    <a href="@customerUrl" target="blank"><strong>@customerName</strong></a>
  }
  else {
    <strong>@customerName</strong>
  }
}

@helper downloadButton(string downloadUrl) {

  string label                = "Download";
  string downloadName         = "";

  if (!String.IsNullOrEmpty(downloadUrl)) {
    string url                = downloadUrl;
    if (url.IndexOf("/") >= 0) {
      url                     = url.Substring(url.LastIndexOf("/") + 1);
    }
    if (url.ToLower().EndsWith(".pdf")) {
      url                     = url.Substring(0, url.ToLower().IndexOf(".pdf"));
    }
    downloadName              = url;
  }

  if (!downloadUrl.EndsWith(".pdf", StringComparison.CurrentCultureIgnoreCase)) {
    label = "Learn More";
  }

  <a href="@downloadUrl" target="_blank" class="button large" onclick="trackEvent(this, 'Case Studies' , 'Download' , 'Case Studies: @downloadName');return false;\">
    @label
  </a>

}

<!--
  Content Type: Case Study
  View Location: ~/Views/CaseStudy/CaseStudy.cshtml
-->