@model TopicViewModel

@{
  Layout = "~/Views/Layout/_Layout.cshtml";
  var exampleApplications = Model.Topic.FindAllByAttribute("ContentType", "ExampleApplication").ToList<Topic>();
}

@section Head {
  <script type="application/ld+json">
    {
      "@@context":"http://schema.org",
      "@@type":"ItemList",
      "itemListElement":[
        @for (var i = 0; i < exampleApplications.Count; i++) {
          <text>
            {
              "@@type": "ListItem",
              "position": @(i + 1),
              "url": "https://www.goldsim.com@(exampleApplications[i].WebPath)"
            } @(exampleApplications.Count.Equals(i+1)? "" : ",")
          </text>
        }
      ]
    }
  </script>
}

@section PostTitleSection {

  <!-- Body Content -->
  <section class="embedded pane body">
    @Html.Raw(@Model.Topic.Attributes.GetValue("Body"))
  </section>
  <!-- Body Content -->

}

@section PageBodySection {

  <section class="panel body">
    @Html.Partial("_CardList", new CardListViewModel(exampleApplications, "case-study"))
  </section>

}

<!--
  Content Type: Application List
  View Location: ~/Views/ApplicationIndex/ApplicationIndex.cshtml
-->
