@model LessonTopicViewModel

@{
  ViewBag.Title = Model.Title;
  Layout = "~/Views/Layout/_Layout.cshtml";
}

@section LongTitleSection {
  <!-- Long Title (Subtitle) -->
  <header>
    <h1 class="title">
      Unit @Model.Unit.UnitNumber: @Model.Unit.Title
    </h1>
    @if (!String.IsNullOrWhiteSpace(Model.Unit.Subtitle)) {
      <p class="subtitle">@Model.Unit.Subtitle</p>
    }
  </header>
  <!-- /Long Title (Subtitle) -->
}

@section PageBodySection {

  <div class="grid-x">
    <nav class="cell hide-for-small-only medium-4 large-3">
      <vc:lesson-list />
    </nav>
    <section class="panel cell small-12 medium-8 large-9">
      <h1>@Model.Title</h1>
      @Html.Raw(Model.Body)
    </section>
  </div>

}

<!--
  Content Type: Lesson
  View Location: ~/Views/ContentTypes/Lesson.cshtml
-->