@model LessonTopicViewModel

@{
  ViewBag.Title = Model.Title;
  Layout = "~/Views/Layout/_Layout.cshtml";
}

@section Head {
  <style>
    .lesson-list ol li span {
      color: orange;
      font-size: smaller;
      padding-right: 2px;
    }
    .lesson-list ol li:before {
      content: "@($"{Model.Unit.UnitNumber}.")" counters(item, ".") " ";
    }
  </style>
}

@section LongTitleSection {
  <!-- Long Title (Subtitle) -->
  <header class="grid-x">
    <h1 class="page title long cell">
      Unit @Model.Unit.UnitNumber: @Model.Unit.Title
    </h1>
    @if (!String.IsNullOrWhiteSpace(Model.Unit.Subtitle)) {
      <p class="subtitle">@Model.Unit.Subtitle</p>
    }
  </header>
  <!-- /Long Title (Subtitle) -->
}

@section PageBodySection {

  <div class="grid-container">
    <vc:lesson-list />
    <div class="grid-x">
      <div>
        <section class="panel body">
          @Html.Raw(Model.Body)
        </section>
      </div>
    </div>
  </div>

}

<!--
  Content Type: Lesson
  View Location: ~/Views/ContentTypes/Lesson.cshtml
-->
