@model LessonTopicViewModel

@{
  ViewBag.Title = Model.Title;
  Layout = "~/Views/Layout/_Layout.cshtml";
}

@section Head {
  <style>
    .lesson-list ol li:before {
      content: "@($"{Model.Unit.UnitNumber}.")" counters(item, ".") " ";
    }
  </style>
}

@section LongTitleSection {
  <!-- Long Title (Subtitle) -->
  <header>
    <h1 class="title">
      Unit @Model.Unit.UnitNumber: @Model.Unit.Title
    </h1>
    @if (!String.IsNullOrWhiteSpace(Model.Unit.Subtitle)) {
      <p class="subtitle">@Model.Unit.Subtitle</p>
    }
  </header>
  <!-- /Long Title (Subtitle) -->
}

@section PageBodySection {

  <vc:lesson-list />
  <div class="grid-x">
    <section class="panel">
      @Html.Raw(Model.Body)
    </section>
  </div>

}

<!--
  Content Type: Lesson
  View Location: ~/Views/ContentTypes/Lesson.cshtml
-->