@model PaymentsTopicViewModel
@{
  Layout = "~/Views/Layout/_Layout.cshtml";
}

@section PageBodySection {

  <section class="panel body" style="width: 100%">

    @if (Model.ErrorMessages != null && Model.ErrorMessages.Count > 0) {
      <div class="callout alert error-message">
        <p>@Model.ErrorMessagesIntroduction</p>
        <ul>
          @foreach (string errorMessageKey in Model.ErrorMessages.Keys) {
            <li>@Model.ErrorMessages[errorMessageKey]</li>
          }
        </ul>
      </div>
    }
    <div id="ClientSideErrors" class="callout alert error-message is-hidden">
      <p>@Model.ErrorMessagesIntroduction</p>
      <ul>
        <li id="EmptyFieldsError" class="is-hidden">@Model.EmptyFieldsErrorMessage</li>
        <li id="CCNumberError" class="is-hidden">@Model.CreditCardNumberErrorMessage</li>
        <li id="ExpirationMonthError" class="is-hidden">@Model.ExpirationMonthErrorMessage</li>
        <li id="ExpirationYearError" class="is-hidden">@Model.ExpirationYearErrorMessage</li>
        <li id="CvvError" class="is-hidden">@Model.CvvErrorMessage</li>
        <li id="PostalCodeError" class="is-hidden">@Model.PostalCodeErrorMessage</li>
      </ul>
    </div>
    @if (!String.IsNullOrEmpty(Model.ConfirmationMessageSuccess)) {
      <div class="callout success success-message">
        <p>@Model.ConfirmationMessageSuccess</p>
      </div>
    }

    <form id="PaymentsForm" method="post" class="payments-form">

      <div class="grid-container">
        <div class="grid-x grid-margin-x">

          <!-- Company Name -->
          <div class="cell">
            <label for="Company" class="required">
              *Company Name
              <input id="Company" name="company" type="text" required placeholder="Company Name">
            </label>
          </div>

          <!-- Invoice Number -->
          <div class="medium-6 cell">
            <label for="Invoice" class="required">
              *Invoice Number
              <input id="Invoice" name="invoice" type="text" required placeholder="Invoice Number">
            </label>
          </div>

          <!-- Amount -->
          <div class="medium-6 cell">
            <label for="Amount" class="required">
              *Amount
              <span class="input-group">
                <span class="input-group-label">$</span>
                <input id="Amount" name="amount" type="number" required min="0.01" step="0.01" placeholder="1000" class="input-group-field">
              </span>
            </label>
          </div>

          <!-- CC Number -->
          <div class="medium-6 cell">
            <label for="CardNumber" class="hosted-field-label required">
              *Card Number
              <span id="CardNumber" class="hosted-field required"></span>
            </label>
          </div>

          <!-- Expiration Month/Year -->
          <div class="medium-6 cell">
            <label for="Expiration" class="hosted-field-label required">*Expiration</label>
            <span id="ExpirationMonth" class="hosted-field padded required" style="margin-right: .9375rem; width: 23%;"></span>
            <span id="ExpirationYear" class="hosted-field padded required" style="margin-left: .9375rem; width: 67%;"></span>
          </div>

          <!-- CVV Code -->
          <div class="medium-6 cell">
            <label for="Cvv" class="hosted-field-label required">
              *CVV
              <span id="Cvv" class="hosted-field padded required"></span>
            </label>
          </div>

          <!-- Postal Code -->
          <div class="medium-6 cell">
            <label for="PostalCode" class="hosted-field-label required">
              *ZIP / Postal Code
              <span id="PostalCode" class="hosted-field padded required"></span>
            </label>
          </div>

          <input id="PaymentMethodNonce" name="paymentMethodNonce" type="hidden" />

          @Html.AntiForgeryToken()

          <!-- Submit -->
          <div class="cell">
            <button type="submit" disabled class="button large submit primary">Submit Payment</button>
          </div>

        </div>
      </div>
    </form>

  </section>

}

@section CallsToActionSection {}

@section Scripts {

  <!-- Braintree -->
  <script src="https://js.braintreegateway.com/web/3.39.0/js/client.min.js"></script>
  <script src="https://js.braintreegateway.com/web/3.39.0/js/hosted-fields.min.js"></script>
  <script src="~/Shared/Scripts/Payments.js"></script>

  <script>

      /**
       * Initializes the Braintree Javascript v3 SDK and dynamically creates the primary Braintree form fields.
       */
      var clientToken           = "@Model.ClientToken";
      executeBraintree(clientToken);

      /**
       * Initialize Foundation
       */
      $(document).foundation();

  </script>

}