@model PaymentsTopicViewModel
@{
  Layout = "~/Views/Layout/_Layout.cshtml";
}

@section PageBodySection {

  <section class="panel body" style="width: 100%">

    <div class="grid-container">
      <div class="grid-x">
        @Html.Raw(Model.Body)
      </div>
    </div>

    @if (Model.ErrorMessages != null && Model.ErrorMessages.Count > 0) {
      <div class="callout alert error-message">
        <p>@Model.ErrorMessagesIntroduction</p>
        <ul>
          @foreach (string errorMessageKey in Model.ErrorMessages.Keys) {
            <li>@Html.Raw(Model.ErrorMessages[errorMessageKey])</li>
          }
        </ul>
      </div>
    }
    <div id="ClientSideErrors" class="callout alert error-message is-hidden">
      <p>@Model.ErrorMessagesIntroduction</p>
      <ul>
        <li id="EmptyFieldsError" class="is-hidden">@Model.EmptyFieldsErrorMessage</li>
        <li id="CCNumberError" class="is-hidden">@Model.CreditCardNumberErrorMessage</li>
        <li id="ExpirationMonthError" class="is-hidden">@Model.ExpirationMonthErrorMessage</li>
        <li id="ExpirationYearError" class="is-hidden">@Model.ExpirationYearErrorMessage</li>
        <li id="CvvError" class="is-hidden">@Model.CvvErrorMessage</li>
        <li id="PostalCodeError" class="is-hidden">@Model.PostalCodeErrorMessage</li>
      </ul>
    </div>
    @if (!String.IsNullOrEmpty(Model.ConfirmationMessageSuccess)) {
      <div class="callout success success-message">
        <p>@Model.ConfirmationMessageSuccess</p>
      </div>
    }

    <form id="PaymentsForm" method="post" class="payments-form">

      <div class="grid-container">
        <div class="grid-x grid-margin-x">

          <!-- Customer -->
          <div class="cell">
            <label for="CardholderName" class="required">
              Cardholder Name
              <input id="CardholderName" name="cardholderName" type="text" required placeholder="Cardholder Name">
            </label>
          </div>
          <!-- /Customer -->

          <!-- Company Name -->
          <div class="medium-6 cell">
            <label for="Company" class="required">
              Company Name
              <input id="Company" name="company" type="text" required placeholder="Company Name">
            </label>
          </div>

          <!-- Email Address -->
          <div class="medium-6 cell">
            <label for="CustomerEmail" class="required">
              Email Address
              <input id="CustomerEmail" name="customerEmail" type="email" placeholder="email@domain.com">
            </label>
          </div>

          <!-- Invoice Number -->
          <div class="medium-6 cell">
            <label for="Invoice" class="required">
              Invoice Number
              <input id="Invoice" name="invoice" type="text" maxlength="4" pattern="^\d{4,4}$" placeholder="1111" oninvalid="this.setCustomValidity('Please enter a 4-digit number.')" onchange="this.setCustomValidity('')">
            </label>
          </div>

          <!-- Amount -->
          <div class="medium-6 cell">
            <label for="Amount" class="required">
              Amount
              <span class="input-group">
                <span class="input-group-label">$</span>
                <input id="Amount" name="amount" type="number" required min="1.00" step="0.01" placeholder="1000" class="input-group-field">
              </span>
            </label>
          </div>

          <!-- CC Number -->
          <div class="medium-6 cell">
            <label for="CardNumber" class="hosted-field-label required">
              Card Number
              <span id="CardNumber" class="hosted-field required"></span>
            </label>
          </div>

          <!-- Expiration Month/Year -->
          <div class="medium-4 cell">
            <label for="Expiration" class="hosted-field-label required">*Expiration</label>
            <span id="ExpirationMonth" class="hosted-field padded required" style="margin-right: 0.9375rem; width: 24%;"></span>
            <span id="ExpirationYear" class="hosted-field padded required" style="width: 67%; max-width: 67%"></span>
          </div>

          <!-- CVV Code -->
          <div class="medium-2 cell">
            <label for="Cvv" class="hosted-field-label required">
              CVV
              <span id="Cvv" class="hosted-field padded required"></span>
            </label>
          </div>

          <input id="PaymentMethodNonce" name="paymentMethodNonce" type="hidden" />

          @Html.AntiForgeryToken()

          <!-- Submit -->
          <div class="cell">
            <button type="submit" disabled class="button large submit primary">Submit Payment</button>
          </div>

        </div>
      </div>
    </form>

  </section>

}

@section CallsToActionSection {}

@section Scripts {

  <!-- Braintree -->
  <script src="https://js.braintreegateway.com/web/3.39.0/js/client.min.js"></script>
  <script src="https://js.braintreegateway.com/web/3.39.0/js/hosted-fields.min.js"></script>
  <script src="~/Shared/Scripts/Views/Payments.js?@(DateTime.Now.ToString("yyyyMMddhh"))"></script>

  <script>

      /**
       * Initializes the Braintree Javascript v3 SDK and dynamically creates the primary Braintree form fields.
       */
      var clientToken           = "@Model.ClientToken";
      executeBraintree(clientToken);

  </script>

}