@model SlideshowTopicViewModel

@{
  ViewBag.Title = Model.Title;
  Layout = "~/Views/Layout/_Layout.cshtml";
}

@section Head {
  <link rel="stylesheet" type="text/css" href="/Shared/Styles/Vendor/OwlCarousel/owl.carousel.min.css" />
  <link rel="stylesheet" type="text/css" href="/Shared/Styles/Vendor/OwlCarousel/owl.theme.default.min.css">
  <link rel="stylesheet" type="text/css" href="/Shared/Styles/Views/Slideshow.css" asp-append-version="true" />
}

@section PostTitleSection {
  <!-- Controls -->
  <!-- @Model.TransitionEffect -->
}

@section PageBodySection {
  <section class="panel">
    <!-- <p>@Html.Raw(Model.Body)</p> -->
    <div class="carousel-wrapper">
      <div class="owl-carousel">
        @if (Model.ContentItems.Count > 0) {
          foreach (SlideTopicViewModel contentItem in Model.ContentItems) {
            WriteContentItem(contentItem);
          }
        }
      </div>
      <div class="owl-nav bottom">
        <div class="owl-prev custom">
          <button class="button large primary">Prev</button>
        </div>
        <div class="owl-next custom">
          <button class="button large primary">Next</button>
        </div>
      </div>
    </div>
  </section>
}

@section Scripts {
  <script src="~/Shared/Scripts/Vendor/OwlCarousel/owl.carousel.min.js"></script>
  <script src="~/Shared/Scripts/Views/Slideshow.js" asp-append-version="true"></script>
  <script>
    $(function() {
      $('.owl-carousel').slideshow();
    });
  </script>
}

@{

  void WriteContentItem(SlideTopicViewModel contentItem) {
    <article data-hash="@contentItem.Key" class="slide">
      @Html.Raw(contentItem.Description)
      @if (!String.IsNullOrWhiteSpace(contentItem.LearnMoreUrl?.ToString())) {
        <p><a href="@contentItem.LearnMoreUrl" rel="noopener" target="_blank">Learn More</a></p>
      }
    </article>
  }

}

<!--
  Content Type: Slideshow
  View Location: ~/Views/Slideshow/Slideshow.cshtml
-->