@model TechnicalPaperListTopicViewModel

@section Head {
  <link rel="stylesheet" type="text/css" href="/Shared/Styles/Components/Accordion/Accordion.css" asp-append-version="true" />
}

@section PageBodySection {

  <section class="panel">

    @Html.Raw(Model.Body)
    @if (Model.FieldCategories.Count > 0) {
      <h1>Categories</h1>
      <ul data-smooth-scroll data-offset="75">
        @foreach (var fieldCategory in Model.FieldCategories) {
          <li><a href="#@fieldCategory.Key">@fieldCategory.Title</a></li>
        }
      </ul>
    }

    @foreach (var fieldCategory in Model.FieldCategories) {
      <h1 id="@fieldCategory.Key">@fieldCategory.Title</h1>
      <partial name="_TechnicalPaperList" model="@Model.GetTechnicalPapers(fieldCategory.Key)" />
    }

  </section>

}

@section Scripts {
  <script defer src="~/Shared/Scripts/Vendor/ZURB/Plugins/foundation.smoothScroll.min.js"></script>
  <script defer src="~/Shared/Scripts/Vendor/ZURB/Plugins/foundation.accordion.min.js"></script>
  <script defer src="~/Shared/Scripts/Views/Accordion.ScrollFix.js" asp-append-version="true"></script>
}

<!--
  Content Type: Technical Paper List
  View Location: ~/Views/TechnicalPaperList/TechnicalPaperList.cshtml
-->