@model AcademicFormBindingModel

@Html.EditorFor(model => model.FirstName)
@Html.EditorFor(model => model.LastName)

@Html.EditorFor(model => model.Organization)
@Html.EditorFor(model => model.Email, "String")

<div class="cell text-right">
  <p id="EmailInstructions" class="field instructions">Email must be associated with an academic institution</p>
  <p id="EmailErrorInstructions" class="field error instructions" style="display: none;">Unfortunately, we can't issue free academic licenses to generic email addresses like hotmail, gmail and yahoo. If possible, please use an email address that is associated with your university. If you don't have a university email address, please have your faculty sponsor send an email to <a href="mailto:software@goldsim.com">software@goldsim.com</a> confirming you are a student. We will then forward the license details to him or her.</p>
</div>

@Html.EditorFor(model => model.Department)
@Html.EditorFor(model => model.PhoneNumber, "String")

<!-- View Location: ~/Areas/Forms/Views/Shared/_AcademicContact.cshtml -->