@model NavigationViewModel<TrackedNavigationTopicViewModel>

@if (Model.NavigationRoot is not null) {

  <!-- Course Navigation -->
  <nav role="navigation" class="course-list track-progress">
    @foreach (var topic in Model.NavigationRoot.Children) {
      <section class="panel cell">
        <h1 class="@topic.GetCssClass()">
          <a href="@topic.WebPath">
            @(topic.ShortTitle?? topic.Title)
          </a>
        </h1>
        @Html.Raw(@topic.Abstract)
      </section>
      <p />
    }
  </nav>
  <!-- /Course Navigation -->

}

<!--
  Content Type: NavigationViewModel<TrackedNavigationTopicViewModel>
  View Location: ~/Areas/Courses/Views/Shared/Components/CourseList/Default.cshtml
-->