@model Ignia.Topics.Web.Mvc.TopicViewModel

@{
  Layout = "~/Views/Layout/_Layout.cshtml";

  Ignia.Topics.Topic fieldCategories    = Ignia.Topics.Web.TopicRepository.RootTopic.GetTopic("Configuration:Metadata:FieldCategories:LookupList");
  Ignia.Topics.Topic papers             = Ignia.Topics.Web.TopicRepository.RootTopic.GetTopic("Web:Applications:TechnicalPapers:ContentItems");
}

@section PageBodySection {

  <section class="panel body">

    <article class="page body">
      @Html.Raw(HttpUtility.HtmlDecode(@Model.Topic.Attributes.Get("Body")))
    </article>

    @foreach (Ignia.Topics.Topic fieldCategory in fieldCategories) {
      <h1>@fieldCategory.Title</h1>
      <section class="panel accordion embedded">
        <ul class="accordion embedded" data-accordion>
        @foreach (Ignia.Topics.Topic paper in papers) {
          if (@fieldCategory.Key == @paper.Attributes.Get("Category")) {
            <li class="accordion-item" data-accordion-item>
              <a class="accordion-title" href="#">@paper.Title</a>
              <div class="accordion-content" data-tab-content>
                <p class="author">@Html.Raw(@paper.Attributes.Get("Authors"))</p>
                @Html.Raw(@paper.Attributes.Get("Description"))
                <p><a href="@paper.Attributes.Get("LearnMoreURL")" target="_blank"><strong>@Html.Raw(@paper.Attributes.Get("Publication"))</strong></a></p>
              </div>
            </li>
          }
        }
        </ul>
      </section>
    }

  </section>

}

<!--
  Content Type: Technical Paper List
  View Location: ~/Views/TechnicalPaperList/TechnicalPaperList.cshtml
-->
