@model Ignia.Topics.Web.Mvc.TopicViewModel

@{
  ViewBag.Title = Model.Topic.Title;
  Layout = "~/Views/Layout/_Layout.cshtml";
}

<h2>Video Content Type</h2>

<h1>@Model.Topic.Title</h1>
<h2>@Model.Topic.Attributes.Get("Title")</h2>

<p>@Model.Topic.Attributes.Get("Body")</p>

<h2>Attributes</h2>
<ul>
  <li><strong>Video (URL):</strong> @Model.Topic.Attributes.Get("URL")</li>
  <li><strong>Description:</strong> @Model.Topic.Attributes.Get("Description")</li>
</ul>

<br>(~/Views/Video/Video.cshtml)