@{
  Layout = "~/Views/Layout/_Layout.cshtml";

  Topic    EnvironmentalSystems    = Model.TopicRepository.Load().GetTopic("Web:Applications:EnvironmentalSystems");
  Topic    EngineeredSystems       = Model.TopicRepository.Load().GetTopic("Web:Applications:EngineeredSystems");
  Topic    BusinessSystems         = Model.TopicRepository.Load().GetTopic("Web:Applications:BusinessSystems");

}

@section Head {
  <link rel="stylesheet" type="text/css" href="/Shared/Styles/Vendor/OwlCarousel/owl.carousel.min.css" />
  <link rel="stylesheet" type="text/css" href="/Shared/Styles/Vendor/OwlCarousel/owl.theme.default.min.css">
  <link rel="stylesheet" type="text/css" href="/Shared/Styles/Views/Home.css" />
}

@section MainContentSection {

  <!-- Main Site Content Area -->
  <main id="MainContentArea" class="page content" role="main">

    <!-- Page Header Area -->
    <section id="PageHeaderSection">

      <!-- Page Title Area -->
      <header class="header js-full-height">
        <div class="grid-container">
          <div class="grid-x grid-padding-x">
            <div class="small-12 medium-8 medium-offset-2 centered">

              <!-- Short Title -->
              <h1 class="page title short">@Model.Topic.Title</h1>

              <!-- Long Title (Subtitle) -->
              <h1 class="page title long">@Model.Topic.Attributes.Get("Subtitle")</h1>

              <!-- Video -->
              <div class="responsive-embed widescreen video">
                <video controls="">
                  <source src="http://3fdaec166a0b35abfa2a-3991774b1862aed7fa3658c502b53d27.r19.cf1.rackcdn.com/GoldSim%20in%20Nutshell.mp4" type="video/mp4">
                  Your browser does not support the HTML5 video.
                </video>
              </div>
              <!-- /Video -->

            </div>
          </div>
        </div>
      </header>
      <!-- /Page Title Area -->

    </section>
    <!-- /Page Header Area -->

    <article itemscope itemtype="http://schema.org/WebPageElement" itemprop="mainContentOfPage" class="grid-container">

      <!-- Main Page Content -->
      <div class="grid-x">

        <!-- Introduction Pane -->
        <section id="Introduction" class="cell panel introduction" role="region">
          <header>
            <h1>What is GoldSim?</h1>
          </header>
          @Html.Raw(@Model.Topic.Attributes.Get("Introduction"))
        </section>
        <!-- /Introduction Pane -->

        <!-- Slideshow Pane -->
        <section id="Usage" class="pane usage" role="region">
          <header>
            <h1>What can you do with GoldSim?</h1>
          </header>
          <div class="carousel-wrapper">
            <div class="owl-carousel" aria-label="What can you do with GoldSim?">
              <div class="grid-x">
                <div class="medium-6 cell text">
                  <h2>Evaluate Alternatives Using Dynamic Simulation</h2>
                  <p>GoldSim is a powerful and flexible software platform for visualizing and dynamically simulating the future behavior of nearly any kind of physical, financial or organizational system. You build a model in an intuitive manner by literally drawing a picture (an influence diagram) of your system. You can use these models to gain a diagnostic understanding of the system, ask "what if" questions about it, and evaluate alternative designs, policies, and plans.</p>
                </div>
                <div class="medium-6 cell screenshot">
                  <picture>
                    <source srcset="/Images/Home/Slides/Slide01.png" />
                    <img src="/Images/Home/Slides/Slide01.png" alt="Dynamic Simulation" />
                  </picture>
                </div>
              </div>
              <div class="grid-x">
                <div class="medium-6 cell text">
                  <h2>Represent Uncertainty Using Monte Carlo Simulation</h2>
                  <p>Because the real world is inherently uncertain, GoldSim has powerful features to allow you to quantitatively represent the random variability and uncertainty that is present in all systems. GoldSim uses Monte Carlo simulation to produce quantitative probabilistic predictions of future performance (e.g., "there is a 25% chance of an adverse outcome") in order to better support the decision-making process.</p>
                </div>
                <div class="medium-6 cell screenshot">
                  <picture>
                    <source srcset="/Images/Home/Slides/Slide02.png" />
                    <img src="/Images/Home/Slides/Slide02.png" alt="Monte Carlo Simulation" />
                  </picture>
                </div>
              </div>
              <div class="grid-x">
                <div class="medium-6 cell text">
                  <h2>Represent Complex Dynamics and Build Realistic Models that Can Still be Easily Understood</h2>
                  <p>GoldSim is a hybrid simulator, allowing you to superimpose the occurrence and consequences of discrete events (e.g., financial transactions, accidents, failures) onto continuously varying systems (i.e., material and information flows). This ability, coupled with features to support the construction of hierarchical, top-down models, facilitates the simulation of large, complex systems while keeping the models easy to understand, navigate and explain to others.</p>
                </div>
                <div class="medium-6 cell screenshot">
                  <picture>
                    <source srcset="/Images/Home/Slides/Slide03.png" />
                    <img src="/Images/Home/Slides/Slide03.png" alt="Realistic Models" />
                  </picture>
                </div>
              </div>
              <div class="grid-x">
                <div class="medium-6 cell text">
                  <h2>Tackle Problems that Cannot be Addressed Using Simpler Approaches</h2>
                  <p>The product of over 25 years of development, GoldSim's powerful and flexible featues, ability to create custom interfaces, and specialized extension modules (e.g., for financial modeling, reliability analysis, and mass transport modeling) allow you to address problems that can't be adequately represented using simple simulation approaches.</p>
                  <p>You can learn more about GoldSim by taking the <a href="/Topic/641/">Quick Tour</a>.</p>
                </div>
                <div class="medium-6 cell screenshot">
                  <picture>
                    <source srcset="/Images/Home/Slides/Slide04.png" />
                    <img src="/Images/Home/Slides/Slide04.png" alt="Complex Model" />
                  </picture>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- /Slideshow Pane -->

        <!-- Customers Pane -->
        <section id="Customers" class="cell panel customers" role="region">
          <header>
            <h1>Where in the World is GoldSim?</h1>
          </header>
          <p>GoldSim is used by over 600 commercial and government organizations in nearly 60 countries worldwide.</p>
          <p><a href="/Topic/19/">View a partial list of organizations</a> &raquo;</p>
        </section>
        <!-- /Customers Pane -->

        <!-- Applications Pane -->
        <section id="Applications" class="pane applications" role="region">
          <header>
            <h1>Learn About GoldSim Applications</h1>
          </header>
          <p class="text show-for-medium">GoldSim has been used for a wide range of diverse applications, ranging from modeling complex environmental systems, to comparing alternative business strategies, to evaluating the risks associated with space missions. You can explore the various GoldSim applications and view case studies below.</p>
          <div class="grid-x grid-margin-x" data-equalizer data-equalize-on="medium">
            <div class="medium-4 cell">
              <div class="card environmental" data-equalizer-watch>
                <h2>Environmental<br/>Systems Modeling</h2>
                @if (EnvironmentalSystems != null) {
                  <ul id="EnvironmentalApplications">
                    @foreach (Topic application in EnvironmentalSystems) {
                      <li><a href="@application.WebPath">@application.Attributes.Get("ShortTitle", @application.Title) &raquo;</a></li>
                    }
                  </ul>
                }
              </div>
            </div>
            <div class="medium-4 cell">
              <div class="card engineered" data-equalizer-watch>
                <h2>Engineered<br/>Systems Modeling</h2>
                @if (EngineeredSystems != null) {
                  <ul id="EngineeredApplications">
                    @foreach (Topic application in EngineeredSystems) {
                      <li><a href="@application.WebPath">@application.Attributes.Get("ShortTitle", @application.Title) &raquo;</a></li>
                    }
                  </ul>
                }
              </div>
            </div>
            <div class="medium-4 cell">
              <div class="card business" data-equalizer-watch>
                <h2>Business<br/>Systems Modeling</h2>
                @if (BusinessSystems != null) {
                  <ul id="BusinessApplications">
                    @foreach (Topic application in BusinessSystems) {
                      <li><a href="@application.WebPath">@application.Attributes.Get("ShortTitle", @application.Title) &raquo;</a></li>
                    }
                  </ul>
                }
              </div>
            </div>
          </div>
        </section>
        <!-- Applications Pane -->

        <!-- CTAs Pane -->
        <section id="HomeCallsToAction" class="cell pane calls-to-action links" role="region">
          <header>
            <h1>Learn More</h1>
          </header>
          <p class="text">To learn more about GoldSim, request a web demo or evaluation version.</p>
          <p class="text">If you are just beginning the process of selecting a simulation tool, <a href="/Topic/656/">read our guide for selecting one that best meets your needs</a>.</p>
          <div class="grid-x grid-margin-x" data-equalizer data-equalize-on="medium">
            <div class="large-6 cell">
              <a href="/Forms/Evaluation.aspx" class="button huge white demo">Request a Web Demo &raquo;</a>
            </div>
            <div class="large-6 cell">
              <a href="/Forms/Evaluation.aspx" class="button huge white eval">Request a Trial Version &raquo;</a>
            </div>
          </div>
        </section>
        <!-- /CTAs Pane -->

      </div>
      <!-- /Main Page Content -->

    </article>

  </main>
  <!-- /Main Site Content Area -->

}

@section CallsToActionSection {}

@section Scripts {
  <script src="~/Shared/Scripts/Vendor/OwlCarousel/owl.carousel.js"></script>
  <script>
    $(function () {

      $('.owl-carousel').owlCarousel({
        items: 1,
        margin: 0,
        autoHeight: true,
        nav: true,
        navText: [
          '<i class="fa fa-caret-left"></i>',
          '<i class="fa fa-caret-right"></i>'
        ],
        loop: false
      });

    });
  </script>
}

<!-- View Location: ~/Home/Index.cshtml -->