@{
  Layout = "~/Views/Shared/_Layout.cshtml";

  Ignia.Topics.Topic    EnvironmentalSystems    = Ignia.Topics.Web.TopicRepository.RootTopic.GetTopic("Web:Solutions:EnvironmentalSystems");
  Ignia.Topics.Topic    EngineeredSystems       = Ignia.Topics.Web.TopicRepository.RootTopic.GetTopic("Web:Solutions:EngineeredSystems");
  Ignia.Topics.Topic    BusinessSystems         = Ignia.Topics.Web.TopicRepository.RootTopic.GetTopic("Web:Solutions:BusinessSystems");

}

@section Head {
  <link rel="stylesheet" type="text/css" href="/Shared/Styles/Views/Home.css" />
}

@section MainContentSection {

  <!-- Main Site Content Area -->
  <main id="MainContentArea" class="page content" role="main">

    <!-- Page Header Area -->
    <section id="PageHeaderSection">

      <!-- Page Title Area -->
      <header class="header">
        <div class="grid-container">
          <div class="grid-x grid-padding-x">
            <div class="small-12 medium-8 medium-offset-2 centered">

              <!-- Short Title -->
              <h1 class="page title short">@Model.Topic.Title</h1>

              <!-- Long Title (Subtitle) -->
              <h1 class="page title long">@Model.Topic.Attributes.Get("Subtitle")</h1>

              <!-- Video -->
              <div class="responsive-embed widescreen video">
                <video controls="">
                  <source src="http://3fdaec166a0b35abfa2a-3991774b1862aed7fa3658c502b53d27.r19.cf1.rackcdn.com/GoldSim%20in%20Nutshell.mp4" type="video/mp4">
                  Your browser does not support the HTML5 video.
                </video>
              </div>
              <!-- /Video -->

            </div>
          </div>
        </div>
      </header>
      <!-- /Page Title Area -->

    </section>
    <!-- /Page Header Area -->

    <article itemscope itemtype="http://schema.org/WebPageElement" itemprop="mainContentOfPage" class="grid-container">

      <!-- Main Page Content -->
      <div class="grid-x">

        <!-- Introduction Pane -->
        <section id="Introduction" class="cell panel introduction" role="region">
          @Html.Raw(@Model.Topic.Attributes.Get("Introduction"))
        </section>
        <!-- /Introduction Pane -->

        <!-- Slideshow Pane -->
        <section id="Usage" class="pane usage" role="region">
          <header>
            <h2>What can you do with GoldSim?</h2>
          </header>
          <div class="orbit slideshow" aria-label="What can you do with GoldSim?" data-orbit data-use-m-u-i="false" data-options="autoplay:false"><!-- -->
            <div class="orbit-wrapper">
              <div class="orbit-controls">
                <button class="orbit-previous"><span class="show-for-sr">Prev</span>&#9664;&#xFE0E;</button>
                <button class="orbit-next"><span class="show-for-sr">Next</span>&#9654;&#xFE0E;</button>
              </div>
              <ul class="orbit-container">
                <li class="orbit-slide is-active">
                  <h3>Evaluate Alternatives Using Dynamic Simulation</h3>
                  <p>GoldSim is a powerful and flexible software platform for visualizing and dynamically simulating the future behavior of nearly any kind of physical, financial or organizational system. You build a model in an intuitive manner by literally drawing a picture (an influence diagram) of your system. You can use these models to gain a diagnostic understanding of the system, ask "what if" questions about it, and evaluate alternative designs, policies, and plans.</p>
                </li>
                <li class="orbit-slide">
                  <h3>Represent Uncertainty Using Monte Carlo Simulation</h3>
                  <p>Because the real world is inherently uncertain, GoldSim has powerful features to allow you to quantitatively represent the random variability and uncertainty that is present in all systems. GoldSim uses Monte Carlo simulation to produce quantitative probabilistic predictions of future performance (e.g., “there is a 25% chance of an adverse outcome”) in order to better support the decision-making process.</p>
                </li>
                <li class="orbit-slide">
                  <h3>Represent Complex Dynamics and Build Realistic Models that Can Still be Easily Understood</h3>
                  <p>GoldSim is a hybrid simulator, allowing you to superimpose the occurrence and consequences of discrete events (e.g., financial transactions, accidents, failures) onto continuously varying systems (i.e., material and information flows). This ability, coupled with features to support the construction of hierarchical, top-down models, facilitates the simulation of large, complex systems while keeping the models easy to understand, navigate and explain to others.</p>
                </li>
                <li class="orbit-slide">
                  <h3>Tackle Problems that Cannot be Addressed Using Simpler Approaches</h3>
                  <p>The product of over 25 years of development, GoldSim’s powerful and flexible featues, user-friendly interface, and specialized extension modules (e.g., for financial modeling, reliability analysis, and mass transport modeling) allow you to address problems that can't be adequately represented using simple simulation approaches.</p>
                  <p>You can learn more about GoldSim by taking the Quick Tour.</p>
                </li>
              </ul>
            </div>
          </div>
        </section>
        <!-- /Slideshow Pane -->

        <!-- Customers Pane -->
        <section id="Customers" class="cell panel customers" role="region">
          <header>
            <h2>Where in the World is GoldSim?</h2>
          </header>
          <p>GoldSim is used by over 600 organizations in over 50 countries worldwide.</p>
        </section>
        <!-- /Customers Pane -->

        <!-- Applications Pane -->
        <section id="Applications" role="region">
          <header>
            <h2>Learn About GoldSim Applications</h2>
          </header>
          <div class="grid-x grid-margin-x applications" data-equalizer data-equalize-on="medium">
            <div class="medium-4 cell">
              <div class="card" data-equalizer-watch>
                <picture>
                  <source srcset="/Images/Content/Solution/yosemite.jpg" />
                  <img src="/Images/Content/Solution/yosemite.jpg" alt="Environmental Systems Modeling">
                </picture>
                <h3>@EnvironmentalSystems.Title</h3>
                @if (EnvironmentalSystems != null) {
                  <ul id="EnvironmentalApplications">
                    @foreach (Ignia.Topics.Topic application in EnvironmentalSystems) {
                      <li><a href="@application.WebPath">@application.Title</a></li>
                    }
                  </ul>
                }
              </div>
            </div>
            <div class="medium-4 cell">
              <div class="card" data-equalizer-watch>
                <picture>
                  <source srcset="/Images/Content/Solution/manufacturing.jpg" />
                  <img src="/Images/Content/Solution/manufacturing.jpg" alt="Engineered Systems Modeling">
                </picture>
                <h3>@EngineeredSystems.Title</h3>
                @if (EngineeredSystems != null) {
                  <ul id="EngineeredApplications">
                    @foreach (Ignia.Topics.Topic application in EngineeredSystems) {
                      <li><a href="@application.WebPath">@application.Title</a></li>
                    }
                  </ul>
                }
              </div>
            </div>
            <div class="medium-4 cell">
              <div class="card" data-equalizer-watch>
                <picture>
                  <source srcset="/Images/Content/Solution/Business.jpg" />
                  <img src="/Images/Content/Solution/Business.jpg" alt="Business Systems Modeling">
                </picture>
                <h3>@BusinessSystems.Title</h3>
                @if (BusinessSystems != null) {
                  <ul id="BusinessApplications">
                    @foreach (Ignia.Topics.Topic application in BusinessSystems) {
                      <li><a href="@application.WebPath">@application.Title</a></li>
                    }
                  </ul>
                }
              </div>
            </div>
          </div>
        </section>
        <!-- Applications Pane -->

        <!-- CTAs Pane -->
        <section id="CTAs" class="cell panel cta-links" role="region">
          <header>
            <h2>What's Next?</h2>
          </header>
          <ul>
            <li><a href="/Forms/Evaluation.aspx">Request a Web Demo</a></li>
            <li><a href="/Forms/Evaluation.aspx">Download a Free Evaluation Version</a></li>
            <li><a href="/Web/Introduction/SelectingSimulationSoftware/">Tips for Selecting the Best Simulation Software for Your Application</a></li>
          </ul>
        </section>
        <!-- /CTAs Pane -->

      </div>
      <!-- /Main Page Content -->

    </article>

  </main>
  <!-- /Main Site Content Area -->


}

<!-- View Location: ~/Home/Index.cshtml -->