@model TopicViewModel

@{
  Layout = "~/Views/Layout/_Layout.cshtml";
  ViewBag.Context = @Model.Topic.Attributes.Get("Category", "") + " Applications";
}

@section PageBodySection {

  <section class="panel body">

    @if (!String.IsNullOrEmpty(@Model.Topic.Attributes.Get("ThumbnailImage"))) {
      <!-- Thumbnail Image -->
      <picture class="callout picture thumbnail">
        <source srcset="@Model.Topic.Attributes.Get("ThumbnailImage")" />
        <img src="@Model.Topic.Attributes.Get("ThumbnailImage")" alt="@Model.Topic.Title">
      </picture>
      <!-- /Thumbnail Image -->
    }

    @if (!String.IsNullOrEmpty(@Model.Topic.Attributes.Get("Abstract", ""))) {
      <!-- Abstract -->
      <!-- <h1>Abstract</h1> -->
      <!-- Abstract Text -->
      <p>@Html.Raw(@Model.Topic.Attributes.Get("Abstract", ""))</p>
      <!-- /Abstract -->
    }

    <!-- Body Content -->
    <article class="page body">
      @Html.Raw(HttpUtility.HtmlDecode(@Model.Topic.Attributes.Get("Body")))
    </article>
    <!-- /Body Content -->

    @if (!String.IsNullOrEmpty(@Model.Topic.Attributes.Get("ModelImage"))) {
      <!-- Model Image -->
      <figure class="illustration full">
        <img src="@Model.Topic.Attributes.Get("ModelImage")" alt="model" />
      </figure>
      <!-- /Model Image -->
    }

    @if (getIncomingRelationships("CaseStudy").Count > 0) {
      <!-- Related Case Studies -->
      <h1>Case Studies</h1>
      @Html.Partial("_CardList", new GoldSim.Web.Models.CardListViewModel(getIncomingRelationships("CaseStudy"), "case-study"))
      <!-- /Related Case Studies -->
    }

    @if (getRelationships("Modules").Count > 0) {
      <!-- Related Modules -->
      <h1>Modules</h1>
      @Html.Partial("_CardList", new GoldSim.Web.Models.CardListViewModel(getRelationships("Modules"), "modules"))
      <!-- /Related Modules -->
    }

    @if (getIncomingRelationships("WhitePaper").Count > 0) {
      <!-- Related White Papers -->
      <h1>White Papers</h1>
      <ul>
        @foreach (Topic paper in getIncomingRelationships("WhitePaper")) {
          <li><a href="@paper.Attributes.Get("URL")" onclick="trackEvent(this, 'WhitePaper', 'Download', 'White Paper: @paper.Key'); return false;" target="_blank">@paper.Title</a></li>
        }
      </ul>
      <!-- /Related White Papers -->
    }

    @if (getIncomingRelationships("TechnicalPaper").Count > 0) {
      <h1>Technical Papers</h1>
      @Html.Partial("_TechnicalPaperList", getIncomingRelationships("TechnicalPaper"))
    }

    @if (!String.IsNullOrEmpty(@Model.Topic.Attributes.Get("CompareTo")) || !String.IsNullOrEmpty(@Model.Topic.Attributes.Get("URL"))) {

      <!-- Learn More -->
      <h1>Learn More</h1>
      <ul>
        @if (@Model.Topic.Attributes.Get("CompareTo", "None").EndsWith("Approaches")) {
          <li><a href="/Topic/615">Compare GoldSim</a> to other simulation approaches</li>
        }
        else if (@Model.Topic.Attributes.Get("CompareTo", "None").EndsWith("Excel")) {
          <li><a href="/Topic/614">Compare GoldSim</a> to spreadsheet modeling approaches</li>
        }
        @if (!String.IsNullOrEmpty(@Model.Topic.Attributes.Get("URL"))) {
          <li><a href="@Model.Topic.Attributes.Get("URL")">@Model.Topic.Attributes.Get("LearnMoreLabel", "Learn more")</a></li>
        }
      </ul>
      <!-- Learn More -->

    }

  </section>

}

@functions{

  /*============================================================================================================================
  | DEFINE VARIABLES
  \---------------------------------------------------------------------------------------------------------------------------*/
  Dictionary<string, List<Topic>> _relationships = new Dictionary<string, List<Topic>>();

  /*============================================================================================================================
  | GET INCOMING RELATIONSHIPS
  >-----------------------------------------------------------------------------------------------------------------------------
  | Given incoming relationships, finds topics pointing to the application that are of a particular content type.
  \---------------------------------------------------------------------------------------------------------------------------*/
  List<Topic> getIncomingRelationships(string contentType) {

    if (!_relationships.ContainsKey(contentType)) {

      var incomingRelationships = new List<Topic>();

      if (Model.Topic.IncomingRelationships.Count > 0 && Model.Topic.IncomingRelationships.Contains("Applications")) {

        // Loop through incoming Applications relationships to populate topic lists
        foreach (Topic relatedTopic in Model.Topic.IncomingRelationships["Applications"].SortedChildren) {
          if (
            relatedTopic.Attributes.Get("DocumentType", relatedTopic.ContentType).Equals(contentType) &&
            !incomingRelationships.Contains(relatedTopic)
          ) {
            incomingRelationships.Add(relatedTopic);
          }
        }

      }

      _relationships.Add(contentType, incomingRelationships);

    }

    return _relationships[contentType];

  }

  /*============================================================================================================================
  | GET (OUTGOING) RELATIONSHIPS
  >-----------------------------------------------------------------------------------------------------------------------------
  | Given an (outgoing) relationship, returns all topics associated with the relationship.
  \---------------------------------------------------------------------------------------------------------------------------*/
   List<Topic> getRelationships(string relationship) {
    if (Model.Topic.Relationships.Count > 0 && Model.Topic.Relationships.Contains(relationship)) {
      return Model.Topic.Relationships[relationship].ToList();
    }
    return new List<Topic>();
  }

}

<!--
  Content Type: Application Page
  View Location: ~/Views/Application/ApplicationPage.cshtml
-->
