@model Ignia.Topics.Web.Mvc.TopicViewModel

@{
  Layout = "~/Views/Layout/_Layout.cshtml";

  // Set up incoming relationships
  List<Ignia.Topics.Topic> caseStudies          = new List<Ignia.Topics.Topic>();
  List<Ignia.Topics.Topic> whitePapers          = new List<Ignia.Topics.Topic>();
  List<Ignia.Topics.Topic> technicalPapers      = new List<Ignia.Topics.Topic>();

  // Populate incoming relationships
  if (Model.Topic.IncomingRelationships.Count > 0 && Model.Topic.IncomingRelationships.Contains("Applications")) {

    // Loop through incoming Applications relationships to populate topic lists
    foreach (Ignia.Topics.Topic relatedTopic in Model.Topic.IncomingRelationships["Applications"].SortedChildren) {

      // Populate Case Studies
      if (relatedTopic.UniqueKey.Contains("CaseStudies") && !caseStudies.Contains(relatedTopic)) {
        caseStudies.Add(relatedTopic);
      }
      // Populate White Papers
      else if (relatedTopic.UniqueKey.Contains("WhitePapers") && !whitePapers.Contains(relatedTopic)) {
        whitePapers.Add(relatedTopic);
      }
      // Populate Technical Papers
      else if (relatedTopic.UniqueKey.Contains("TechnicalPapers") && !technicalPapers.Contains(relatedTopic)) {
        technicalPapers.Add(relatedTopic);
      }

    }

  }

  // Set up Modules
  List<Ignia.Topics.Topic> modules              = new List<Ignia.Topics.Topic>();
  if (Model.Topic.Relationships.Count > 0 && Model.Topic.Relationships.Contains("Modules")) {
    foreach (Ignia.Topics.Topic relatedTopic in Model.Topic.Relationships["Modules"]) {
      if (!modules.Contains(relatedTopic)) {
        modules.Add(relatedTopic);
      }
    }
  }

  // Set Application category
  string category                               = @Model.Topic.Attributes.Get("Category", "");

}

@section LongTitleSection {

  <!-- Long Title (Subtitle) -->
  <header class="grid-x">
    <h2 class="category title">@(!String.IsNullOrEmpty(category) ? category + " " : "")Applications</h2>
    <h1 class="page title long cell">@Model.Topic.Attributes.Get("LongTitle", @Model.Topic.Title)</h1>
    @if (!String.IsNullOrWhiteSpace(Model.Topic.Attributes.Get("Subtitle"))) {
      <p class="subtitle">@Model.Topic.Attributes.Get("Subtitle")</p>
    }
  </header>
  <!-- /Long Title (Subtitle) -->

}

@section PageBodySection {

  <section class="panel body">

    @if (!String.IsNullOrEmpty(@Model.Topic.Attributes.Get("ThumbnailImage"))) {
      <!-- Thumbnail Image -->
      <picture class="callout picture thumbnail">
        <source srcset="@Model.Topic.Attributes.Get("ThumbnailImage")" />
        <img src="@Model.Topic.Attributes.Get("ThumbnailImage")" alt="@Model.Topic.Title">
      </picture>
      <!-- /Thumbnail Image -->
    }

    @if (!String.IsNullOrEmpty(@Model.Topic.Attributes.Get("Abstract", ""))) {
      <!-- Abstract -->
      <!-- <h1>Abstract</h1> -->
      <!-- Abstract Text -->
      <p>@Html.Raw(@Model.Topic.Attributes.Get("Abstract", ""))</p>
      <!-- /Abstract -->
    }

    <!-- Body Content -->
    <article class="page body">
      @Html.Raw(HttpUtility.HtmlDecode(@Model.Topic.Attributes.Get("Body")))
    </article>
    <!-- /Body Content -->

    @if (!String.IsNullOrEmpty(@Model.Topic.Attributes.Get("ModelImage"))) {
      <!-- Model Image -->
      <figure class="illustration full">
        <img src="@Model.Topic.Attributes.Get("ModelImage")" alt="model" />
      </figure>
      <!-- /Model Image -->
    }

    @if (caseStudies.Count > 0) {
      <!-- Related Case Studies -->
      <h1>Case Studies</h1>
      <div class="grid-x grid-margin-x" data-equalizer data-equalize-on="small">
      @foreach (Ignia.Topics.Topic caseStudy in caseStudies) {
        <div class="medium-6 cell">
          <div class="card case-study" data-equalizer-watch>
            <i class="type icon case-study" aria-hidden="true"></i>
            <a href="@caseStudy.WebPath" class="thumbnail" style="background-image: url('@caseStudy.Attributes.Get("ThumbnailImage", "")')">&nbsp;</a>
            <a href="@caseStudy.WebPath" class="title">@caseStudy.Title</a>
          </div>
        </div>
      }
      </div>
      <!-- /Related Case Studies -->
    }

    @if (modules.Count > 0) {
      <!-- Related Modules -->
      <h1>Modules</h1>
      <div class="grid-x grid-margin-x" data-equalizer data-equalize-on="small">
        @foreach (Ignia.Topics.Topic module in modules) {
          <div class="medium-6 cell">
            <div class="card module" data-equalizer-watch>
              <i class="type icon module" aria-hidden="true"></i>
              <a href="@module.WebPath" class="thumbnail" style="background-image: url('@module.Attributes.Get("ThumbnailImage", "")')">&nbsp;</a>
              <a href="@module.WebPath" class="title">@module.Title</a>
            </div>
          </div>
        }
      </div>
      <!-- /Related Modules -->
    }

    @if (whitePapers.Count > 0) {
      <!-- Related White Papers -->
      <h1>White Papers</h1>
      <ul>
        @foreach (Ignia.Topics.Topic paper in whitePapers) {
          <li><a href="@paper.Attributes.Get("URL")" onclick="trackEvent(this, 'WhitePaper', 'Download', 'White Paper: @paper.Key'); return false;" target="_blank">@paper.Title</a></li>
        }
      </ul>
      <!-- /Related White Papers -->
    }

    @if (technicalPapers.Count > 0) {
      <!-- Related Technical Papers -->
      <h1>Technical Papers</h1>
      <section class="panel accordion embedded">
        <ul class="accordion embedded" data-accordion>
        @foreach (Ignia.Topics.Topic paper in technicalPapers) {
          <li class="accordion-item" data-accordion-item>
            <a class="accordion-title" href="#">@Html.Raw(@paper.Title)</a>
            <div class="accordion-content" data-tab-content>
              <p>@Html.Raw(@paper.Attributes.Get("Publication")) &ndash; @paper.Attributes.Get("PublicationDate")</p>
              <p class="author">@Html.Raw(@paper.Attributes.Get("Authors"))</p>
              @Html.Raw(@paper.Attributes.Get("Description"))
              <p><a href="@paper.Attributes.Get("LearnMoreURL")" target="_blank">@(!String.IsNullOrEmpty(@Model.Topic.Attributes.Get("DownloadLabel")) ? @Model.Topic.Attributes.Get("DownloadLabel") : "Download")</a></p>
            </div>
          </li>
        }
        </ul>
      </section>
      <!-- /Related Technical Papers -->
    }

    @if (!String.IsNullOrEmpty(@Model.Topic.Attributes.Get("CompareTo")) || !String.IsNullOrEmpty(@Model.Topic.Attributes.Get("URL"))) {

      <!-- Learn More -->
      <h1>Learn More</h1>
      <ul>
        @if (@Model.Topic.Attributes.Get("CompareTo", "None").EndsWith("Approaches")) {
          <li><a href="/Topic/615">Compare GoldSim</a> to other simulation approaches</li>
        }
        else if (@Model.Topic.Attributes.Get("CompareTo", "None").EndsWith("Excel")) {
          <li><a href="/Topic/614">Compare GoldSim</a> to spreadsheet modeling approaches</li>
        }
        @if (!String.IsNullOrEmpty(@Model.Topic.Attributes.Get("URL"))) {
          <li><a href="@Model.Topic.Attributes.Get("URL")">@Model.Topic.Attributes.Get("LearnMoreLabel", "Learn more")</a></li>
        }
      </ul>
      <!-- Learn More -->

    }

  </section>

}

@functions{

}

<!--
  Content Type: Application Page
  View Location: ~/Views/Application/ApplicationPage.cshtml
-->
