@model PageTopicViewModel

@{
  Layout = "/Views/Layout/_Layout.cshtml";
}

@section HeaderSection {

  <!-- Site Header Area -->
  <header id="SiteHeader" class="site header title-bar" role="banner" vocab="http://schema.org" typeof="WPHeader">

    <!-- Logo -->
    <div class="title-bar-middle logo centered">
      <a href="/"><img src="/Images/Logo.svg" alt="GoldSim Technology Group" class="logo" /></a>
    </div>

    <!-- Site Search -->
    <div class="title-bar-right search">
      <partial name="_SearchBar" />
    </div>
    <!-- /Site Search -->

  </header>
  <!-- /Site Header Area -->

}

@section LongTitleSection {

  @if (IsSectionDefined("LongTitleSection")) {
    @RenderSection("LongTitleSection")
  }
  else {
    <!-- Long Title (Subtitle) -->
    <header>
      @if (!string.IsNullOrWhiteSpace(ViewBag.Context)) {
        <h2 class="category title ">@ViewBag.Context</h2>
      }
      <h1 class="title">@Model.Title</h1>
      @if (!String.IsNullOrWhiteSpace(Model.Subtitle)) {
        <p class="subtitle">@Model.Subtitle</p>
      }
      @if (IsSectionDefined("PostTitleSection")) {
        <div class="grid-x">
          @RenderSection("PostTitleSection")
        </div>
      }
    </header>
    <!-- /Long Title (Subtitle) -->
  }
}

@RenderBody()

@section CallsToActionSection {}