@model Ignia.Topics.Web.Mvc.TopicViewModel

@{
  Layout = "~/Views/Layout/_Layout.cshtml";
}

<p>@Html.Raw(HttpUtility.HtmlDecode(@Model.Topic.Attributes.Get("Body")))</p>

<h2>Attributes (ApplicationPageBase)</h2>
<ul>
  <li><strong>Abstract:</strong> @Model.Topic.Attributes.Get("Abstract")</li>
  <li><strong>Thumbnail Image:</strong> @Model.Topic.Attributes.Get("ThumbnailImage")</li>
  <li><strong>Learn More (URL):</strong> @Model.Topic.Attributes.Get("LearnMoreUrl")</li>
</ul>

<h2>Attributes (CaseStudy)</h2>
<ul>
  <li><strong>Customer (Name):</strong> @Model.Topic.Attributes.Get("Customer")</li>
  <li><strong>Customer (URL):</strong> @Model.Topic.Attributes.Get("CustomerUrl")</li>
</ul>

<h2>Applications (Relationship)</h2>
<ul>
  @foreach (Ignia.Topics.Topic application in Model.Topic.Relationships["Applications"]) {
    <li>@application.Title</li>
  }
</ul>

<!--
  Content Type: Case Study
  View Location: ~/Views/CaseStudy/CaseStudy.cshtml
-->