@model Ignia.Topics.Web.Mvc.TopicViewModel

@{
  Layout = "~/Views/Layout/_Layout.cshtml";

  // Populate related Applications
  List<Ignia.Topics.Topic> applications = new List<Ignia.Topics.Topic>();
  if (Model.Topic.Relationships.Contains("Applications")) {
    foreach (Ignia.Topics.Topic relatedApplication in Model.Topic.Relationships["Applications"]) {
      if (!applications.Contains(relatedApplication)) {
        applications.Add(relatedApplication);
      }
    }
  }

}

@section LongTitleSection {

  <!-- Long Title (Subtitle) -->
  <header class="grid-x grid-margin-x">
    <div class="medium-12 cell"><h1 class="page title long cell">@Model.Topic.Attributes.Get("Subtitle", @Model.Topic.Title)</h1></div>
    <div class="medium-8 cell align-middle">
      @if (!String.IsNullOrEmpty(@Model.Topic.Attributes.Get("Customer"))) {
        <strong>Client: @Model.Topic.Attributes.Get("Customer")</strong><br/>
      }
      @if (applications.Count > 0) {
        <strong>Applications:</strong>
        foreach (Ignia.Topics.Topic application in applications) {
          <a href="@application.WebPath" class="comma delimited">@application.Title</a>
        }
      }
    </div>
    <div class="medium-4 cell align-middle">
      @if (!String.IsNullOrEmpty(@Model.Topic.Attributes.Get("DownloadURL"))) {
        <a href="@Model.Topic.Attributes.Get("DownloadURL")" target="_blank" class="button large">Download as PDF <i class="fa fa-file-pdf-o"></i></a>
      }
    </div>
  </header>
  <!-- /Long Title (Subtitle) -->

}

@section PageBodySection {

  <section class="panel body">

    @if (!String.IsNullOrEmpty(@Model.Topic.Attributes.Get("Abstract", ""))) {
      <!-- Abstract -->
      <h1>Abstract</h1>
      <!-- Thumbnail Image -->
      <picture class="callout picture">
        <source srcset="@Model.Topic.Attributes.Get("ThumbnailImage")" />
        <img src="@Model.Topic.Attributes.Get("ThumbnailImage")" alt="@Model.Topic.Title">
      </picture>
      <!-- Abstract Text -->
      <p>@Html.Raw(@Model.Topic.Attributes.Get("Abstract", ""))</p>
      <!-- /Abstract -->
    }

    @Html.Raw(HttpUtility.HtmlDecode(@Model.Topic.Attributes.Get("Body")))

    @if (!String.IsNullOrEmpty(@Model.Topic.Attributes.Get("URL"))) {
      <h1>Learn More</h1>
      <ul>
        <li><a href="@Model.Topic.Attributes.Get("URL")">@Model.Topic.Attributes.Get("LearnMoreLabel", "Learn more")</a></li>
      </ul>
    }

  </section>

}

<!--
  Content Type: Case Study
  View Location: ~/Views/CaseStudy/CaseStudy.cshtml
-->