@model Ignia.Topics.Web.Mvc.TopicViewModel

@{
  Layout = "~/Views/Layout/_Layout.cshtml";
}

@section LongTitleSection {

  <!-- Long Title (Subtitle) -->
  <header class="grid-x grid-margin-x">
    <div class="medium-12 cell"><h1 class="page title long cell">@Model.Topic.Attributes.Get("Subtitle", @Model.Topic.Title)</h1></div>
    <div class="medium-8 cell">
      @if (!String.IsNullOrEmpty(@Model.Topic.Attributes.Get("Customer"))) {
        <strong>Client: @Model.Topic.Attributes.Get("Customer")</strong><br/>
      }
      <strong>Applications: <a href="/Web/Applications/EnvironmentalSystems/WaterResources/">Water Resources</a>, <a href="/Web/Applications/EnvironmentalSystems/Ecological/">Ecological</a></strong>
    </div>
    <div class="medium-4 cell">
      @if (!String.IsNullOrEmpty(@Model.Topic.Attributes.Get("DownloadURL"))) {
        <a href="@Model.Topic.Attributes.Get("DownloadURL")" target="_blank" class="button large">Download as PDF <i class="fa fa-file-pdf-o"></i></a>
      }
    </div>
  </header>
  <!-- /Long Title (Subtitle) -->

}

@section PageBodySection {

  <section class="panel body">
    @Html.Raw(HttpUtility.HtmlDecode(@Model.Topic.Attributes.Get("Body")))
  </section>

}

<!--
  Content Type: Case Study
  View Location: ~/Views/CaseStudy/CaseStudy.cshtml
-->