@model FormPageTopicViewModel

@{
  Layout = "/Views/Layout/_Layout.cshtml";
}

@section PageBodySection {
  <section class="panel body">

    @Html.Raw(Model.Body)

    <form asp-action="@ViewContext.RouteData.Values["Action"]">

      <div asp-validation-summary="All" class="text-danger validation-instructions"></div>

      @RenderSection("PageBodySection", required: false)

      <input type="submit" value="@(Model.SubmitButtonLabel?? "Submit")" class="submit button large primary" />

    </form>

  </section>
}

@section Scripts {

  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

  @RenderSection("Scripts", required: false)

  <script>
	  //Extend the range validator return a boolean
	  var defaultRangeValidator = $.validator.methods.range;
	  $.validator.methods.range = function(value, element, param) {
		  if(element.type === 'checkbox') {
			  //If it's a checkbox, return its checked state
			  return element.checked;
		  } else {
			  //Otherwise, run the default validator
			  return defaultRangeValidator.call(this, value, element, param);
		  }
	  }
  </script>

}
