<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml" lang="en" class="no-js">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>@Model.Topic.Attributes.Get("MetaTitle", Model.Topic.Title) - GoldSim</title>
    <meta name="keywords" content="@Model.Topic.Attributes.Get("MetaKeywords")" />
    <meta name="description" content="@Model.Topic.Attributes.Get("MetaDescription", Model.Topic.Attributes.Get("Description", Model.Topic.Attributes.Get("Abstract", "")))" />
    <meta name="google-site-verification" content="EX0ea3_txOh2GJkZZs_sVxxpIg_Yk7RHYB_xOzCv4Qo" />
    <meta name="msvalidate.01" content="502A7C1A613414AC1FCABAA10A8B17AA" />
    <link rel="canonical" href="https://www.goldsim.com/@Request.Path.ToLower().TrimStart('/')" />
    <link rel="apple-touch-icon" sizes="180x180" href="/Images/Favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/Images/Favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/Images/Favicons/favicon-16x16.png" />
    <link rel="manifest" href="/Images/Favicons/manifest.json" />
    <link rel="mask-icon" href="/Images/Favicons/safari-pinned-tab.svg" color="#000000" />
    <link rel="shortcut icon" href="/Images/Favicons/favicon.ico" />
    <meta name="msapplication-config" content="/Images/Favicons/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="stylesheet" type="text/css" href="/Shared/Styles/Vendor/FontAwesome/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/Shared/Styles/Style.css?@DateTime.Now.ToString("yyyyMMddhhmmss")" />
    @RenderSection("Head", false)
    <script>
      /**
       * Initialize Google Analytics
       */
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-2082450-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body vocab="http://schema.org/" typeof="WebPage">

    <!-- Site Header Area -->
	  @if (IsSectionDefined("HeaderSection")) {
      @RenderSection("HeaderSection")
    }
    else {
      <header id="SiteHeader" class="site header title-bar" role="banner" vocab="http://schema.org" typeof="WPHeader">

        @if (IsSectionDefined("TitleBarSection")) {
          @RenderSection("TitleBarSection")
        }
        else {
          <!-- (Small Screen) Navigation Toggle -->
          <div class="title-bar-left menu">
            <button class="menu-icon hide-for-large" type="button" data-open="PrimaryNavigationSmallScreen"></button>
          </div>
          <!-- /(Small Screen) Navigation Toggle -->

          <!-- Logo -->
          <div class="title-bar-middle logo centered">
            <a href="/"><img src="/Images/Logo.svg" alt="GoldSim Technology Group" class="logo" /></a>
          </div>

          <!-- Site Search -->
          <div class="title-bar-right search">
            <div class="search form closed">
              <!-- Search Input -->
              <gcse:searchbox-only enableHistory="true" enableAutoComplete="true" resultsUrl="/Web/Search/" queryParameterName="SearchText" placeholder="Search GoldSim.com"></gcse:searchbox-only>
              <style type="text/css">
                #gsc-i-id1::-webkit-input-placeholder {
                  font-size: 1.875rem !important;
                }

                #gsc-i-id1::-moz-placeholder {
                  font-size: 1.875rem !important;
                }

                #gsc-i-id1:-ms-input-placeholder {
                  font-size: 1.875rem !important;
                }

                .gsc-input input.gsc-input {
                  background: none repeat scroll 0% 0% transparent !important;
                }
              </style>
              <!-- Search Open / Close Button -->
              <div class="buttons">
                <button type="button" class="icon"></button>
              </div>
            </div>
          </div>
          <!-- /Site Search -->
        }
      </header>

      <!-- Navigation Menu -->
      @Html.Action("Menu", "Layout")

    }
    <!-- /Site Header Area -->

    @if (IsSectionDefined("MainContentSection")) {
      @RenderSection("MainContentSection")
    }
    else {

      <!-- Main Site Content Area -->
      <main id="MainContentArea" class="page content" role="main">

        @if (IsSectionDefined("PageHeaderSection")) {
          @RenderSection("PageHeaderSection")
        }
        else {

          <!-- Page Header Area -->
          <section id="PageHeaderSection">

            @if (IsSectionDefined("ShortPageTitleSection")) {
              @RenderSection("ShortPageTitleSection")
            }

            @if (IsSectionDefined("PageLevelNavigationSection")) {
              @RenderSection("PageLevelNavigationSection")
            }
            else {
              @Html.Action("PageLevelNavigation", "Layout")
            }

          </section>
          <!-- /Page Header Area -->

        }

        <article itemscope itemtype="http://schema.org/WebPageElement" itemprop="mainContentOfPage" class="grid-container">

          @if (IsSectionDefined("LongTitleSection")) {
            @RenderSection("LongTitleSection")
          }
          else {
            <!-- Long Title (Subtitle) -->
            <header class="grid-x">
              @if (!string.IsNullOrWhiteSpace(ViewBag.Context)) {
                <h2 class="category title">@ViewBag.Context</h2>
              }
              <h1 class="page title long cell">
                @(Model.Topic.ContentType.Equals("PageGroup")? "Overview" : @Model.Topic.Title)
              </h1>
              @if (!String.IsNullOrWhiteSpace(Model.Topic.Attributes.Get("Subtitle"))) {
                <p class="subtitle">@Model.Topic.Attributes.Get("Subtitle")</p>
              }
              @if (IsSectionDefined("PostTitleSection")) {
                @RenderSection("PostTitleSection")
              }
            </header>
            <!-- /Long Title (Subtitle) -->
          }

          <!-- Main Page Content -->
          @if (IsSectionDefined("PageBodySection")) {
            @RenderSection("PageBodySection")
          }
          else {
            <div class="grid-container">
              <div class="grid-x">
                @RenderBody()
              </div>
            </div>
          }
          <!-- /Main Page Content -->

        </article>
      </main>
      <!-- /Main Site Content Area -->
    }

    @if (IsSectionDefined("CallsToActionSection")) {
      @RenderSection("CallsToActionSection")
    } else {
      @Html.Action("CallsToAction", "Layout")
    }

    @if (IsSectionDefined("FooterSection")) {
      @RenderSection("FooterSection")
    } else {
      @Html.Action("Footer", "Layout")
    }

    <!-- jQuery -->
    <script src="/Shared/Scripts/Vendor/jQuery/jquery-3.0.0.min.js"></script>
    <!-- Foundation -->
    <script src="/Shared/Scripts/Vendor/ZURB/foundation.min.js"></script>
    <!-- Headroom -->
    <script src="/Shared/Scripts/Vendor/Headroom/Headroom.js"></script>

    <script>
      /**
       * Initialize Foundation
       */
      $(document).foundation();
    </script>
    <script src="/Shared/Scripts/Script.js?@DateTime.Now.ToString("yyyyMMddhhmmss")"></script>
    @RenderSection("Scripts", false)
    <script>
      /**
       * Google Custom Search script bootstrapping
       */
      (function() {
        var
          cx            = '001116227355942586376:hfih0l8kboc',
          gcse          = document.createElement('script');
        gcse.type       = 'text/javascript';
        gcse.async      = true;
        gcse.src        = (document.location.protocol == 'https' ? 'https:' : 'http:') + '//www.google.com/cse/cse.js?cx=' + cx;
        var s           = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
      })();
    </script>

  </body>
</html>
