@model NavigationViewModel

@{
  Topic CompanyTopic = @Model.NavigationRootTopic;
}

<!-- Site Footer Area -->
<footer id="SiteFooter" class="site footer" role="contentinfo">
  <div class="grid-container">

    <!-- Footer Navigation -->
    <nav id="FooterNavigation" class="navigation grid-x grid-padding-x" role="navigation">

      <!-- Company Information -->
      <div class="company cell small-6 small-order-2 medium-3 medium-order-1 large-3">
        <p class="list link heading"><a href="@CompanyTopic.WebPath">@CompanyTopic.Attributes.GetValue("ShortTitle", @CompanyTopic.Title)</a></p>
        <ul>
          @foreach (Topic topic in CompanyTopic.Children.Sorted) {
            if (topic.Attributes.GetValue("IsHidden", "0").Equals("0")) {
              <li><a href="@topic.WebPath" class="@((Model.Topic == topic)? "selected" : "")">@topic.Attributes.GetValue("ShortTitle", @topic.Title)</a></li>
            }
          }
        </ul>
      </div>
      <!-- /Company Information -->
      <!-- Terms / Privacy -->
      <div class="terms cell small-6 small-order-3 medium-3 medium-order-2 large-4">
        <p class="link heading"><a href="http://blog.goldsim.com/">Blog</a></p>
        <p class="link heading"><a href="/Topic/857/">Site Terms</a></p>
        <p class="link heading"><a href="/Topic/4222/">Privacy Policy</a></p>
      </div>
      <!-- /Terms / Privacy -->
      <!-- Contact Information -->
      <div class="contact cell small-12 small-order-1 medium-6 medium-order-3 large-5" itemscope itemtype="http://schema.org/Organization">
        <dl class="phone grid-x grid-padding-x">
          <dt class="small-4 medium-4 large-5 cell text-right">phone</dt>
          <dd class="small-8 medium-8 large-7 cell" itemprop="telephone"><a href="tel:1-425-295-7985">+1 (425) 295-6985</a></dd>
          <dt class="small-4 medium-4 large-5 cell text-right">fax</dt>
          <dd class="small-8 medium-8 large-7 cell" itemprop="faxNumber">+1 (425) 642-8073</a></dd>
        </dl>
        <dl class="emails grid-x grid-padding-x">
          <dt class="small-4 medium-4 large-5 cell text-right">sales</dt>
          <dd class="small-8 medium-8 large-7 cell" itemprop="email"><a href="mailto:software@goldsim.com">software@goldsim.com</a></dd>
          <dt class="small-4 medium-4 large-5 cell text-right">support</dt>
          <dd class="small-8 medium-8 large-7 cell" itemprop="email"><a href="mailto:support@goldsim.com">support@goldsim.com</a></dd>
          <dt class="small-4 medium-4 large-5 cell text-right">employment</dt>
          <dd class="small-8 medium-8 large-7 cell" itemprop="email"><a href="mailto:jobs@goldsim.com">jobs@goldsim.com</a></dd>
        </dl>
      </div>
      <!-- /Contact Information -->

    </nav>
    <!-- /Footer Navigation -->

    <!-- Social Information -->
    <div class="grid-x grid-margin-x">
      <div class="social cell small-12 centered">
        <a href="http://blog.goldsim.com/feeds/posts/default?alt=rss" target="_blank"><i class="fa fa-rss"></i></a>
        <a href="https://twitter.com/goldsimsoftware" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://www.linkedin.com/company/goldsim-technology-group-llc" target="_blank"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
    <!-- /Social Information -->

    <!-- Copyright Information -->
    <div class="grid-x grid-margin-x">
      <div class="copyright cell small-12 centered">
        <small><span class="fa fa-copyright"></span> @DateTime.Now.Year GoldSim Technology Group</small>
      </div>
    </div>
    <!-- Copyright Information -->

  </div>
</footer>
<!-- /Site Footer Area -->
