@model GoldSim.Web.Models.NavigationViewModel

<!-- Primary Navigation -->
@if (Model.NavigationRootTopic != null) {
  <nav id="PrimaryNavigation" class="navigation primary off-canvas position-left" data-off-canvas data-transition="overlap" role="navigation" vocab="http://schema.org" typeof="SiteNavigationElement">
    <button class="close-button" aria-label="Close menu" type="button" data-close style="clear:right;margin-bottom:15px">
      <span aria-hidden="true">&times;</span>
    </button>
    <ul class="vertical menu accordion-menu" data-accordion-menu data-submenu-toggle="true" style="margin-top:30px">
      @foreach (Ignia.Topics.Topic topic in @Model.NavigationRootTopic) {
        if (topic.Attributes.Get("IsHidden", "0").Equals("0")) {
          <li>
            <a href="@topic.WebPath" class="@((Model.Topic == topic || Model.Topic?.Parent == topic || Model.Topic?.Parent.Parent == topic)? "selected" : "")">@topic.Title</a>
            <ul class="menu vertical nested">
              @foreach (Ignia.Topics.Topic childTopic in topic) {
              if (childTopic.Attributes.Get("IsHidden", "0").Equals("0")) {
                  <li><a href="@childTopic.WebPath" class="@((Model.Topic == childTopic || Model.Topic?.Parent == childTopic)? "selected" : "")">@childTopic.Title</a></li>
                }
              }
            </ul>
          </li>
        }
      }
    </ul>
  </nav>
}
<!-- /Primary Navigation -->
