@model GoldSim.Web.Models.NavigationViewModel

@if (Model.NavigationRootTopic != null) {
  <!-- Page Title Area -->
  <header class="header">
    <div class="grid-container">
      <div class="grid-x">
        <h1 class="title short cell">@Model.NavigationRootTopic.Title</h1>
      </div>
    </div>
  </header>
  <!-- /Page Title Area -->

  <!-- Page Navigation Area -->
  <nav id="PageNavigation" class="navigation page" role="navigation">
    <ul class="menu align-center">
      <li><a href="@Model.NavigationRootTopic.WebPath" class="@((Model.Topic == null)? "selected" : "")">Overview</a></li>
      @foreach (Ignia.Topics.Topic topic in @Model.NavigationRootTopic.OrderBy(t => t.SortOrder)) {
        if (topic.Attributes.Get("IsHidden", "0").Equals("0")) {
          <li><a href="@topic.WebPath" class="@((Model.Topic == topic)? "selected" : "")">@topic.Attributes.Get("ShortTitle", @topic.Title)</a></li>
        }
      }
    </ul>
  </nav>
  <!-- /Page Navigation Area -->
}
