@model FormPageTopicViewModel<UserConferenceFormBindingModel>

@section PageBodySection {

  <fieldset>
    <legend>Contact Information</legend>
    <div class="grid-x grid-margin-x">
      <partial name="_ExtendedContact" for="BindingModel" />
      @Html.EditorFor(model => model.BindingModel.FaxNumber, "String")
    </div>
  </fieldset>

  <fieldset>
    <legend>Oral Presentation or Poster Session</legend>
    <div class="grid-x grid-margin-x">
      @Html.EditorFor(model => model.BindingModel.WillSubmitPoster, new { cssClass="" })
      @Html.EditorFor(model => model.BindingModel.PosterDescription, "TextArea")
      <div class="cell">
        <p style="margin-top: 1rem;">
          <span>If you are interested in presenting an oral presentation or a poster, please let us know.  We have a very limited number of time slots for oral presentations, and hence will need to select from the entries (selected presentations will tend to be general interest topics, while posters could, for example, be detailed case studies).  If you are not selected for a presentation, we will ask you to prepare a poster (our poster sessions are one of the most popular parts of the conference). In either case, we will follow up with instructions for preparing your your presentation or poster at the conference.</span>
          <strong>Poster presenters will be entered into a drawing for a $500 Amazon gift certificate. Attendees will also vote on a Best Poster, with the winner receiving a $500 Amazon gift certificate.</strong>
        </p>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Advanced Training Topics</legend>
    <div class="grid-x grid-margin-x">
      <div class="cell">
        <p>The first day of the conference (September 10) will consist of two parallel sessions on advanced GoldSim applications and modeling techniques. Attendees will be able to move between the two sessions (each topic will last approximately 1 hour) in order to select the topics that best align with their interests. Topics will be based on attendee requests specified below:</p>
      </div>
    </div>
    <div class="cell">
      @Html.EditorFor(model => model.BindingModel.AdvancedTrainingTopics, "TextArea")
    </div>
  </fieldset>

  <fieldset>
    <legend>Conference Options</legend>
    <div class="grid-x grid-margin-x">
      <div class="medium-6 cell">
         @Html.EditorFor(model => model.BindingModel.WithStudentDiscount)
      </div>
      <div class="cell radio">
        <input asp-for="BindingModel.IncludeTraining" id="ConferenceOnly" type="radio" value="User Conference Only" /> <label for="ConferenceOnly">User Conference Only (September 10-11): <s style="Color: Red">$1,250</s> <strong>$950</strong> (if registered by April 30th)</label>
        <br /><input asp-for="BindingModel.IncludeTraining" id="ConferenceAndTraining" type="radio" value="Basic Training and Conference" /> <label for="ConferenceAndTraining">Basic Training and Conference (September 9-11): <s style="Color: Red">$1,500</s> <strong>$1,200</strong> (if registered by April 30th)</label>
        <br /><span class="instructions">Costs include breakfast and lunch each day, as well as dinner during the social events on the evenings of September 9 and 10. Spouses/partners can also attend the two dinners for a modest fee.</span>
        <br /><span class="instructions"><strong><em>NOTE:</em> If you are only attending the conference (and not the Basic Training on September 9), you should still plan to arrive early enough on the 9th for the Dinner Cruise (which loads at 5:30PM).</strong></span>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Payment Information</legend>
    <div class="grid-x grid-margin-x">
      <div class="cell radio">
        <input type="radio" name="PaymentMethod" value="CreditCard" id="CreditCard" /> <label for="CreditCard">Credit Card</label>
        <br /><input type="radio" name="PaymentMethod" value="Invoice" id="Invoice" /> <label for="Invoice">Invoice Me</label>
      </div>
      <div class="cell">
        <p id="PaymentInstructions" class="instructions"></p>
      </div>
      @Html.EditorFor(model => model.BindingModel.PurchaseOrderNumber, new { cssClass = "" })
      @Html.EditorFor(model => model.BindingModel.AdditionalInstructions, "TextArea")
      <div class="cell">
        <p class="instructions">NOTE: GoldSim's standard method of invoicing and providing receipts is via email.</p>
      </div>
      <div class="cell" style="margin-top: 1rem;">
        <p>Note that you will not be charged when you submit this form. This order is not valid until accepted by GoldSim Technology Group. We will contact you to complete the transaction.</p>
      </div>
    </div>
  </fieldset>

}

@section InlineScript {

  /*------------------------------------------------------------------------------------------------------------------------
  | Establish default state
  \-----------------------------------------------------------------------------------------------------------------------*/
  var instructions = $("#PaymentInstructions");
  var purchaseOrderForm = $("#@Html.IdFor(m => m.BindingModel.PurchaseOrderNumber)").prop("disabled", true);

  /*------------------------------------------------------------------------------------------------------------------------
  | Handle payment information
  \-----------------------------------------------------------------------------------------------------------------------*/
  $("input[name='PaymentMethod']").click(function () {
    purchaseOrderForm.prop("disabled", true);
    switch ($(this).val()) {
      case "Invoice":
        purchaseOrderForm.prop("disabled", false);
        instructions.html("");
        break;
      case "CreditCard":
        purchaseOrderForm.prop("disabled", true);
        instructions.html("If paying by credit card, call 1-425-295-6985 (-8 hours GMT) or fax 1-425-642-8073 to complete transaction.");
        break;
    }
    instructions.show();
  });

}