@model FormPageTopicViewModel<StudentAcademicFormBindingModel>

@section PageBodySection {

  <fieldset>
    <legend>Contact Information</legend>
    <div class="grid-x grid-margin-x">

      <div class="cell">
        <p><em>For information regarding how we use your email address and other contact information, you can refer to our <a href="/Topic/4222/">privacy policy</a>.</em></p>
      </div>
      <partial name="_AcademicContact" for="BindingModel" />
      <partial name="_Address" for="BindingModel.Address" />
      @Html.EditorFor(model => model.BindingModel.Country, "Select")

    </div>
  </fieldset>

  <fieldset>
    <legend>Student Sponsor</legend>
    <div class="grid-x grid-margin-x">
      <div class="cell">
        <p>Please identify a professor or teacher who will act as your sponsor.</p>
      </div>

      @Html.EditorFor(model => model.BindingModel.Sponsor.FirstName)
      @Html.EditorFor(model => model.BindingModel.Sponsor.LastName)

      @Html.EditorFor(model => model.BindingModel.Sponsor.Organization, new { cssClass = "" })

      @Html.EditorFor(model => model.BindingModel.Sponsor.Email, "String")
      @Html.EditorFor(model => model.BindingModel.Sponsor.PhoneNumber, "String")

    </div>
  </fieldset>

  <fieldset>
    <legend>Additional Information</legend>
    <div class="grid-x grid-margin-x">
      <div class="cell"><label>I am also interested in:</label></div>
      <partial name="_Modules" for="BindingModel.Modules" />
      <partial name="_Requirements" for="BindingModel" />
      <partial name="_Referral" for="BindingModel" />
    </div>
  </fieldset>

  <fieldset>
    <legend>Terms of Use</legend>
    <div class="grid-x grid-margin-x">

      <div class="cell">
        <p>By checking the box below I agree to the following:</p>
        <ol>
          <li>I will only use GoldSim Academic for teaching and/or "internally funded" graduate student research (i.e., student research funded at a low-level, typically using departmental funds) at a non-profit academic institution.</li>
          <li>I will not use GoldSim Academic for "externally funded" research (i.e., sponsored research projects) at an academic institution.</li>
          <li>I will not use GoldSim Academic for sponsored research at a private or government research institution.</li>
          <li>I will not use GoldSim Academic for consulting or other commercial purposes.</li>
          <li>If GoldSim Academic is used to generate results that are published, I will notify the GoldSim Technology Group and acknowledge the GoldSim Technology Group in the publication.</li>
          <li>Create a link to https://www.goldsim.com, anchored to the text phrase "simulation software", if actively using GoldSim in your teaching or research.</li>
        </ol>
      </div>

      <partial name="_TermsOfUse" for="BindingModel" />

    </div>
  </fieldset>

}
