@model Ignia.Topics.Web.Mvc.TopicViewModel

@{
  Layout = "~/Views/Layout/_Layout.cshtml";
}

@section PageBodySection {

  <!--
  <section class="panel body">
    @Html.Raw(HttpUtility.HtmlDecode(@Model.Topic.Attributes.Get("Body")))
  </section>
  -->

  <section class="panel accordion">
    <ul class="accordion applications" data-accordion>

      @foreach (var category in getCategories()) {

      <!-- @category -->
      <li class="accordion-item @(isFirst()? "is-active" : "")" data-accordion-item>
        <a class="accordion-title" href="#">@category</a>

        <!-- @category Applications -->
        <div class="accordion-content" data-tab-content>
          @Html.Partial("_CardList", new GoldSim.Web.Models.CardListViewModel(getApplications().Where(a => containsCategory(a, category)).ToList(), "application"))
        </div>
        <!-- /@category Applications -->

      </li>

      }

    </ul>
  </section>

}

@functions {

  /*============================================================================================================================
  | VARIABLES
  \---------------------------------------------------------------------------------------------------------------------------*/
  List<Ignia.Topics.Topic> _applicationPages = null;
  bool _isFirst = true;

  /*============================================================================================================================
  | GET APPLICATIONS
  >-----------------------------------------------------------------------------------------------------------------------------
  | Retrieves a list of applications based on a specified content type. Assumes topics are broken up into subtopics.
  \---------------------------------------------------------------------------------------------------------------------------*/
  List<Ignia.Topics.Topic> getApplications() {
    if (_applicationPages == null) {
      _applicationPages = new List<Ignia.Topics.Topic>();
      foreach (Ignia.Topics.Topic topic in @Model.Topic.SortedChildren) {
        foreach (Ignia.Topics.Topic childTopic in topic.SortedChildren) {
          if (childTopic.Attributes.Get("ContentType").Equals("ApplicationPage") && !_applicationPages.Contains(childTopic)) {
            _applicationPages.Add(childTopic);
          }
        }
      }
    }
    return _applicationPages;
  }

  /*============================================================================================================================
  | GET CATEGORIES
  >-----------------------------------------------------------------------------------------------------------------------------
  | Returns a distinct list of categories associated with the available topics.
  \---------------------------------------------------------------------------------------------------------------------------*/
  List<string> getCategories() {
    var categories = new List<String>();
    foreach (Ignia.Topics.Topic applicationPage in getApplications()) {
      if (applicationPage.ContentType == "ApplicationPage") {
        var category = applicationPage.Attributes.Get("Category");
        if (!categories.Contains(category)) {
          categories.Add(category);
        }
      }
      else {
        foreach (Ignia.Topics.Topic application in applicationPage["Applications"]) {
          var category = application.Attributes.Get("Category");
          if (!categories.Contains(category)) {
            categories.Add(category);
          }
        }
      }
    }
    return categories;
  }

  /*============================================================================================================================
  | CONTAINS CATEGORY?
  >-----------------------------------------------------------------------------------------------------------------------------
  | Returns a boolean determining if the current topic contains (an application reference) belonging to the specified category.
  \---------------------------------------------------------------------------------------------------------------------------*/
  bool containsCategory(Ignia.Topics.Topic topic, string category) {
    if (topic.ContentType == "ApplicationPage") {
      return topic.Attributes.Get("Category").Equals(category);
    }
    foreach (Ignia.Topics.Topic application in topic.Relationships["Applications"]) {
      if (topic.Attributes.Get("Category").Equals(category)) {
        return true;
      }
    }
    return false;
  }

  /*============================================================================================================================
  | IS FIRST?
  >-----------------------------------------------------------------------------------------------------------------------------
  | Returns true if the item is the first item in the list. Automatically toggles to false after the first time it is called.
  \---------------------------------------------------------------------------------------------------------------------------*/
  bool isFirst() {
    if (_isFirst) {
      _isFirst = false;
      return true;
    }
    return false;
  }

}

<!--
  Content Type: Application List
  View Location: ~/Views/ApplicationIndex/ApplicationIndex.cshtml
-->