@model Ignia.Topics.Web.Mvc.TopicViewModel

@{
  Layout = "~/Views/Layout/_Layout.cshtml";

  List<Ignia.Topics.Topic> applicationPages = new List<Ignia.Topics.Topic>();
  foreach (Ignia.Topics.Topic topic in @Model.Topic) {
    foreach (Ignia.Topics.Topic childTopic in topic) {
      if (childTopic.Attributes.Get("ContentType").Equals("ApplicationPage") && !applicationPages.Contains(childTopic)) {
        applicationPages.Add(childTopic);
      }
    }
  }

}

@section PageBodySection {

  <!--
  <section class="panel body">
    @Html.Raw(HttpUtility.HtmlDecode(@Model.Topic.Attributes.Get("Body")))
  </section>
  -->

  <section class="panel accordion">
    <ul class="accordion applications" data-accordion>
      <!-- Environmental -->
      <li class="accordion-item is-active" data-accordion-item>
        <a class="accordion-title" href="#">Environmental</a>
        <!-- Environmental Applications -->
        <div class="accordion-content" data-tab-content>
          <div class="grid-x grid-margin-x" data-equalizer data-equalize-on="small">
            @foreach (Ignia.Topics.Topic application in applicationPages.Where(a => a.Attributes.Get("Category").Contains("Environmental"))) {
            <div class="medium-6 cell">
              <div class="card application" data-equalizer-watch>
                <span class="type icon application"></span>
                <a href="@application.WebPath" class="thumbnail"><img src="@application.Attributes.Get("ThumbnailImage", "")" alt="@application.Title" /></a>
                <a href="@application.WebPath" class="title">@application.Title</a>
              </div>
            </div>
            }
          </div>
        </div>
        <!-- /Environmental Applications -->
      </li>
      <!-- /Environmental -->
      <!-- Engineered -->
      <li class="accordion-item" data-accordion-item>
        <a class="accordion-title" href="#">Engineered</a>
        <!-- Engineered Applications -->
        <div class="accordion-content" data-tab-content>
          <div class="grid-x grid-margin-x" data-equalizer data-equalize-on="small">
            @foreach (Ignia.Topics.Topic application in applicationPages.Where(a => a.Attributes.Get("Category").Contains("Engineered"))) {
            <div class="medium-6 cell">
              <div class="card application" data-equalizer-watch>
                <span class="type icon application"></span>
                <a href="@application.WebPath" class="thumbnail"><img src="@application.Attributes.Get("ThumbnailImage", "")" alt="@application.Title" /></a>
                <a href="@application.WebPath" class="title">@application.Title</a>
              </div>
            </div>
            }
          </div>
        </div>
        <!-- /Engineered Applications -->
      </li>
      <!-- /Engineered -->
      <!-- Business -->
      <li class="accordion-item" data-accordion-item>
        <a class="accordion-title" href="#">Engineered</a>
        <!-- Business Applications -->
        <div class="accordion-content" data-tab-content>
          <div class="grid-x grid-margin-x" data-equalizer data-equalize-on="small">
            @foreach (Ignia.Topics.Topic application in applicationPages.Where(a => a.Attributes.Get("Category").Contains("Business"))) {
            <div class="medium-6 cell">
              <div class="card application" data-equalizer-watch>
                <span class="type icon application"></span>
                <a href="@application.WebPath" class="thumbnail"><img src="@application.Attributes.Get("ThumbnailImage", "")" alt="@application.Title" /></a>
                <a href="@application.WebPath" class="title">@application.Title</a>
              </div>
            </div>
            }
          </div>
        </div>
        <!-- /Business Applications -->
      </li>
      <!-- /Business -->
    </ul>
  </section>

}

<!--
  Content Type: Application List
  View Location: ~/Views/ApplicationIndex/ApplicationIndex.cshtml
-->